.section-container
  background-color: $white
  border-image: url("../assets/images/png/border_ptrn.png") 23 22 22 round repeat
  border-style: solid
  border-width: 0 20px
  color: $text-color
  margin: 0 auto
  max-width: $max-width
  padding: 0
  position: relative
  top: 55px

.post-container
  width: 100%

.post-content
  margin: 0 auto
  max-width: 64vw
  padding: 10px 0

  h1
    font-size: 48px
    line-height: 50px
    margin: 8px auto 0
    max-width: 640px
    text-align: center

  h2
    font-size: 36px
    line-height: 38px
    margin: 8px 0

  h3
    font-size: 24px
    line-height: 27px
    margin: 8px 0

  h4
    color: $gray-light
    font-size: 21px
    letter-spacing: 0.2em
    line-height: 24px
    margin: 4px 0
    text-align: center
    text-transform: uppercase

  h5
    color: $gray-light
    font-size: 18px
    font-style: italic
    line-height: 20px
    margin: 4px 0
    text-align: center

  p
    font-size: 16px
    line-height: 21px
    margin: 21px 0
    text-align: justify

    a
      color: $pantone-orange

      &:hover
        color: $pantone-yellow

      &:visited
        color: $gray-light

  ul
    list-style: disc outside none
    margin: 21px

    li
      font-size: 16px
      line-height: 21px
      margin: 5px 0
      word-wrap: break-word

  iframe
    display: block
    height: 50vh
    margin: 30px auto
    width: 50vw

  img
    background-color: $white
    display: block
    height: auto
    margin: 0px auto
    width: 50vw

  figure
    background-color: $black
    display: table
    margin: 25px auto
    padding: 5px

    figcaption
      color: $white
      font-size: 11px
      line-height: 14px
      padding: 10px 5px 5px 5px
      text-align: center

  blockquote
    border-left: 10px solid $gray-light
    margin: 1.5em 10px
    padding: 0.5em 10px

    p
      display: inline
      font-size: 14px
      line-height: 19px
      margin: 0

  hr
    border-color: $black
    border-style: dotted
    border-width: 0
    margin: 5vh auto
    text-align: center

    &::after
      content: "···"
      font-size: 40px

  table
    border-collapse: collapse
    border-spacing: 0
    margin: 1vh auto
    text-align: left

    tr
      border: 1px solid $gray-dark

      &:nth-child(odd)
        background-color: $gray-light

      &:last-child
        font-weight: bold

      th
        background-color: $black
        color: $white
        padding: 2vh 2vw 2vh 1vw

      td
        color: $gray-dark
        padding: 1vh 1vw 1vh 1vw
        word-wrap: break-word