!!! XML
!!!
/ Mastery
%html{:lang => "es"}
  %head
    %title Sergio L. Benítez D. - Maestría
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Un diseñador y desarrollador de interfaces y experiencias de usuario desde la capital de Colombia", :name => "description"}
    %meta{:content => "Sergio L. Benítez D.", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = Haml::Engine.new(File.read('app/haml/partials/_stylesheets.haml')).render
  %body
    = Haml::Engine.new(File.read('app/haml/partials/_header.haml')).render
    = Haml::Engine.new(File.read('app/haml/partials/_btn_backshow.haml')).render

    %section#main.section-general.main-container.pt-page
      %section.section-container.pt-element.pt-element--scalefromup
        .post-container
          %article.post-content
            :markdown

              # Maestría en Canadá
              #### 30 de Octubre, 2015
              ##### Sergio L. Benítez D.

              Luego de estar nueve meses elaborando, organizando ,entregando y enviando documentos a diferentes identidades para realizar mis estudios de maestría en el exterior (Canadá), he decidido compartir esta experiencia con dos intenciones: esperar que esta información sea útil para personas con un proyecto similar. Tener un registro de todos los pasos ejecutados para cumplir con el objetivo.

              > Es indispensable resaltar el contexto en el que se realiza este escrito, ya que la información de precios suministrada no tendrá validez en un futuro por factores externos como lo es el valor del dólar, las tarifas que se cambian cada año, entre otros. El relato registra los precios para los periodos comprendidos entre diciembre del 2014 y septiembre del 2015. Por otra parte, la moneda referente será el peso colombiano.

              Este proceso se explicará en tres pasos: Interés por estudiar en una universidad extranjera, pasos para aplicar a una beca y por último, ¿Cómo obtener la visa de estudiante?. Es importante señalar que los dos últimos pasos se realizaron paralelamente y tienen como requisito un documento que se emite en el primer paso.

              * * *

              ## 1- Interés por estudiar en una universidad extranjera

              Actualmente, la formación académica de una persona se clasifica en tres etapas: educación básica, pregrado y posgrado. La opción de realizar las dos últimas etapas en un país extranjero es viable desde la última década. Según los gustos del individuo el destino varía, pero la iniciativa es la misma. A continuación, se describen los pasos que se ejecutaron para poder obtener el entregable que da fin a esta primera etapa; La carta de admisión de la universidad extranjera.

              ### 1.1 Consultar

              Esta actividad se inicia con el objetivo de argumentar la elección de un programa académico en determinado país y en designada universidad. Estos criterios son personales y en mi caso fueron tres: La vanguardia de Canadá en el campo que quiero profundizar. El idioma (consolidar el francés).La exclusividad (El programa al que quiero entrar es único de la Universidad Laval de Canadá).

              ### 1.2 Enviar la solicitud

              La solicitud para aplicar al programa académico se compone de los siguientes entregables:

              + Certificado de notas
              + Carta de motivación (Desde mi punto de vista, el más trascendente)
              + Curriculum Vitae
              + Portafolio
              + Carta de recomendación (opcional)
              + Certificado de idioma

              El hecho de solicitar el certificado de notas a la universidad en donde realice mis estudios de pregrado tuvo un costo de 120.000 COP. Cabe resaltar que este precio varía dependiendo de la universidad, pues es la institución  quien establece los criterios para definir el precio del certificado de notas.

              Por otra parte, se pagaron 163.000 COP (88 CAD) a la universidad extranjera para la apertura de la solicitud —La transacción se hace a través de un pago en línea y requiere de una tarjeta de crédito — Este hecho me habilitó una cuenta de correo vinculada a la institución para poder acceder a un sistema en donde se cargan los documentos enlistados anteriormente

              > Se sugiere verificar el idioma de los documentos, puesto que dicho criterio cambia según la institución y el país. En mi proceso, el idioma que establecí para los papeles fue el inglés, pues personas cercanas que aplicaban a países como Alemania o Francia enviaron sus archivos en esta lengua a pesar de que el idioma nativo es otro. Sin embargo, recibí una advertencia en donde se señalaba que consideraban raro que los credenciales estuvieran en inglés sabiendo que el idioma en Québec es el francés. 

              ### 1.3 Entrevista

              Los documentos se enviaron en diciembre del 2014 y en febrero del 2015 me llegó un correo en donde se solicitaba una entrevista por Skype con el director de la maestría. Los propósitos de la reunión no fueron mencionados pero pude concluir que se pretendía evaluar mi nivel del idioma. La entrevista duró aproximadamente 90 minutos y se concluyó con unas condiciones para poder emitir la carta de admisión.

              ### 1.4 Carta de admisión

              Posterior a la entrevista, la carta de admisión llego a mi dirección en Bogotá a finales de abril del 2015. La misiva contenía una cordial bienvenida a la comunidad de la institución, un pénsum académico adaptado para poder realizar la maestría,  los costos anuales de la matrícula en diferentes categorías —estudiantes canadienses, estudiantes franceses, estudiantes extranjeros— y los pasos  a seguir para iniciar la fase de la visa de estudio . Además, la carta resalta información relacionada con una beca que otorga el gobierno de Québec para estudiantes extranjeros. Había lanzado mi canto de victoria, pues asumí que conseguir este documento era el objetivo más complicado del proceso, sin embargo, este hecho solo daba inicio a toda una travesía.

              ### 1.5 Tabla de costos

              | Elemento                                | Precio (COP) |
              |-----------------------------------------|--------------|
              | Certificado de notas                    | $120.000     |
              | Inscripción a la universidad extranjera | $163.000     |
              | Total                                   | $283.000     |

              * * *

              ## 2- Aplicar a una beca

              Una de las cosas que considero informal en el proceso de becas son los canales por las cuales son sugeridas; las redes sociales (facebook particularmente) y los correos spam son algunos de estos medios. Por otra parte, hay muchas iniciativas universitarias con el lema "estudia en el exterior", pero no me llaman la atención. Sin embargo, en la carta de admisión se menciona una beca emitida directamente por el gobierno de Québec y este hecho brinda la seriedad que el asunto merece. Cautivado con esta insinuación, decidí investigar a fondo cómo era el procedimiento para aplicar a esta beca en cuestión y es ese contenido el que describo a continuación.

              ### 2.1 Consultar

              La referencia de la subvención en la carta de admisión cita una dirección URL en donde se puede consultar los detalles de la beca. En síntesis, el gobierno de Canadá asigna unos cupos para los países asociados y delega el proceso a una entidad o persona del país afiliado, entregando un correo electrónico del mismo. Para el caso de Colombia, se concede cuatro cupos y la entidad encargada es el ICETEX.

              Se envió un correo y en la respuesta se compartía la fecha de apertura de la convocatoria por parte del ICETEX sobre la beca de exoneración de derechos escolares para estudiantes extranjeros en Québec, la cual, tan solo estuvo habilitada una semana del mes de junio. Las especificaciones para la convocatoria se describen en la siguiente sección.

              ### 2.2 Participar en la convocatoria

              Para participar en la convocatoria el ICETEX enlista una serie de entregables cuya descripción es confusa en algunos casos. Se tuvo que visitar tres veces las instalaciones del ICETEX para realizar la entrega final de los documentos, pues a la enredada explicación de ciertos archivos se suma el desconocimiento del personal del ICETEX con los llamamientos que habilita la entidad. los documentos se citan a continuación:

              + Constancia y resumen de aplicación ICETEX
              + Formulario del gobierno oferente
              + Carta de admisión
              + Fotocopia del título de pregrado
              + Certificado de notas (traducción oficial)
              + Certificado de experiencia profesional
              + Fotocopia del título de pregrado
              + Fotocopia de la cédula de ciudadanía
              + Curriculum Vitae
              + Certificado del idioma
              + Fotografías en formato para visa
              + Certificado de salud con el formato del ICETEX
              + Carta de compromiso de regreso al país

              La constancia y resumen de aplicación del ICETEX se genera automáticamente al finalizar la aplicación en línea. El ICETEX tiene la responsabilidad de mejorar el formato de impresión de esta constancia, pues debería ser un archivo .pdf (es el formato designado internacionalmente para las impresiones) y no un archivo .html. De otro lado, el formulario del gobierno oferente se consigue en la página web del mismo. Es un formulario sencillo y de una página en donde se solicitan datos personales e información relacionada con el programa que se pretende estudiar en el país destino.

              En cuanto a el certificado de notas, el detalle de la traducción oficial fue el que despertó las confusiones. Nunca se me había presentado este escenario y por ende asumí que la traducción la podría realizar por cuenta propia, sin embargo, para el ICETEX esta traducción carece del criterio oficial. En consecuencia, se debe buscar a los traductores oficiales y el ICETEX no facilita el acceso a alguno de ellos. Se tuvo que visitar las instalaciones de las instituciones que promueven el aprendizaje del idioma extranjero para obtener el contacto de los traductores oficiales.

              Al hablar con ellos me enteré del manejo de una tarifa en promedio de 30.000 COP por página, y tienen la mágica habilidad de convertir un certificado de notas de dos páginas en cinco.  Así pues, se debió pagar 150.000 COP por la traducción oficial del certificado de notas.

              Algo similar sucede con el certificado de salud bajo el formato del ICETEX. Al igual que los traductores oficiales, el organismo no facilita una entrada a los doctores para aprobar el documento. Es obligación de la institución habilitar un espacio dentro de las instalaciones o tener un contacto autorizado que se encargue de evaluar los exámenes que demanda el documento, pues es un formato exclusivo del ICETEX y solo es válido con la firma de un doctor que lo apruebe. No son conscientes del desordenado sistema de salud del país y obvian el percance de que las citas médicas se suelen agendar para una semana después de ser solicitadas. Gracias a un contacto familiar pude solucionar este inconveniente, Acerca de los otros documentos a mi parecer se sobre entienden ya que son credenciales puntuales. 

              ### 2.3 Es tiempo de esperar

              Una vez ratificados los documentos el ICETEX entrega un comprobante en donde se registra una fecha de comisión nacional de becas y el estado de la aplicación cambia a documentos recibidos. Nuevamente una pésima comunicación se hizo presente, porque la persona que me atendió en la organización me explicó que en la fecha mencionada anteriormente se publicarían los resultados de la convocatoria en la página web del ICETEX.

              Llegó la fecha y empezó la interminable espera. Consulte la página web y el estado de mi participación cambio a preseleccionado. Pasaron semanas y esta condición no se alteraba, entonces se decidió ir en persona a las instalaciones del ICETEX para recibir información específica de la circunstancia de mi aplicación. Durante las primeras semanas la respuesta fue —los resultados aún no se han publicado—. Pasado un mes, un empleado del ICETEX me aclaró que la fecha de comisión nacional de becas corresponde a la apertura de la evaluación sobre los aspirantes a la ayuda y que el resultado puede demorar varios meses en ser emitido (este hecho evidencia los problemas de comunicación interna del ICETEX, pues inicialmente me habían dicho algo diferente). Esos varios meses siguen contando, y hasta el mes de octubre del 2015 —fecha en la que se redacta este escrito— todavía no se ha recibido razón alguna de si se obtuvo o no la beca.

              ### 2.4 Tabla de costos

              | Elemento                                | Precio (COP) |
              |-----------------------------------------|--------------|
              | Traducción oficial                      | $150.000     |
              | Fotografías                             | $15.000      |
              | Total                                   | $165.000     |

              * * *

              ## 3- ¿Cómo obtener la visa de estudiante?

              En la carta de admisión se resalta la entrega de los documentos de inmigración temporal en la oficina de registro de la universidad una vez se se esté en Québec. Estos documentos son la carta de aceptación de Québec y la visa de estudiante. Para conseguir la última, el primer archivo es un requisito. A continuación se especifican los pasos para obtener estos papeles.

              ### 3.1 Carta de aceptación de Québec (CAQ)

              Para iniciar este proceso se debe realizar una petición en la página web del ministerio de inmigración, diversidad e inclusión del gobierno de Canadá. Hacer esta solicitud tiene un costo de 222.000 COP (100 CAD). Una vez confirmado el pago el ministerio aclara que las peticiones serán atendidas en orden de llegada. La apertura se realizó a finales de mayo del 2015 y la petición consta del envío de datos personales para la creación de un perfil en un sistema del ministerio, con el cual se podrá revisar el estado del proceso.

              A comienzos de julio, el ministerio solicitó el envío físico de los siguientes documentos a una dirección en Québec:

              + Fotocopia de la carta de admisión
              + Fotocopia del pasaporte
              + Fotografías formato visa

              El envío de estos papeles se hizo por DHL y tuvo un costo de 115.900 COP. Cuatro días después el sistema notifica que los documentos fueron recibidos. Finalmente, en la última semana de julio del 2015, el sistema del ministerio emitió un mensaje que describe que la CAQ para estudios será entregada por correo postal a la dirección registrada en el sistema.

              ### 3.2 Visa de estudiante

              El proceso para gestionar la visa de estudiante se puede realizar directamente en el sistema web de ciudadanía e inmigración de Canadá (CiC). Lo primero que se hizo fue responder una exhaustiva encuesta para poder determinar el tipo de visado para mi solicitud. Terminada esta encuesta se enlista los documentos que deben ser entregados para pretender la visa. Si se desea continuar con el proceso es necesario crear un perfil en el sistema CIC. Al igual que en el sistema para la CAQ, la apertura del trámite de la visa de estudiante tiene un costo de 499.230 COP (225 CAD). En este sistema se deben subir los siguientes papeles:

              + Carta de admisión
              + Formulario diligenciado para aplicar a la visa de estudio (suministrado por CIC)
              + Formulario diligenciado de información familiar (suministrado por CIC)
              + Soportes financieros
              + Pasaporte
              + Fotografías formato visa
              + Carta de explicación (opcional)

              Radicados estos documentos, el sistema solicita el envío de las huellas biométricas cuyo costo se incluye en el valor señalado anteriormente. Estas huellas se toman en la oficina VFS Global de Bogotá y es esta misma entidad la encargada de enviar las huellas al gobierno de Canadá. A su vez, me notificaron que al recibir en físico la CAQ, esta se debe adjuntar a un sobre que ellos me entregaron. Dicho sobre guardaba mi pasaporte y estaba marcado con un código.

              Al adjuntar la CAQ, se entregó el sobre a VFS Global. Posteriormente el sistema CIC demandó unos exámenes médicos. Dichos exámenes sólo eran válidos si eran entregados por doctores aprobados por el gobierno de Canadá. El costo de esto exámenes fue de 390.000 COP.

              Adjudicados los exámenes, quede a la espera de la llamada de VFS Global para poder ir a reclamar mi pasaporte con la visa de estudiante. Lastimosamente, la entidad es descuidada con los procesos que se realizan de manera independiente, ya que ellos ofrecen un servicio de asesoría para realizar los trámites de las visas para Canadá, y son estos procesos los que tienen prioridad. Después de aguardar dos semanas, se decidió llamar a VFS Global para preguntar por el estado de mi pasaporte. Desentendidamente me comentaron que el pasaporte ya estaba listo, pero desafortunadamente ya era muy tarde para mis intenciones.

              ## 3.3 Tabla de costos

              | Elemento                                | Precio (COP) |
              |-----------------------------------------|--------------|
              | CAQ                                     | $222.000     |
              | DHL                                     | $115.900     |
              | Visa de estudios                        | $499.230     |
              | Exámenes médicos                        | $390.000     |
              | Total                                   | $165.000     |

              ## Recapitulación

              El dinero total invertido en un proceso de este calibre fue de 1'675.130 COP. Mi consejo es realizar todos estos trámites con un año y medio de anticipación, pues gran parte del procedimiento es responsabilidad de factores externos que demandan tiempos relativos. Mi programa académico comenzaba el 31 de agosto del 2015, y anticipando la demora que se presentaba con la entrega de mi visa de estudiante contacte a la persona encargada de mi solicitud en el universidad extranjera para comentarle la posibilidad de llegar a Canadá una o dos semanas posterior al inicio de clases. La respuesta fue negativa, ya que la universidad no me daba garantías sobre la disponibilidad de cupos en los cursos que pretendía tomar. En últimas, recibí mi pasaporte con la visa de estudiante a mediados de septiembre del 2015 y gracias a la colaboración de mi asesor en la Universidad Laval se pospuso todo este proyecto para la sesión de otoño del 2016. Espero en un año iniciar a mis estudios de maestría en Canadá.

              * * *

    / !Mastery
    %footer
      = Haml::Engine.new(File.read('app/haml/partials/_scripts.haml')).render
