/node_modules/*

# These files are ignored because grunt change them each time that is run.
public/*
public/index.html

app/.DS_Store
app/haml/.DS_Store
app/sass/.DS_Store

.eslintrc
.stylelintrc
.sass-cache
.ruby-version
