/node_modules/*

# These files are ignored because grunt change them each time that is run.
public/*.DS_Store
public/**/*

.DS_Store
.vscode

app/*.DS_Store
app/**/*.DS_Store

.eslintrc
.stylelintrc
.sass-cache
.ruby-version
