/node_modules/*

# These files are ignored because grunt change them each time that is run.
public/.DS_Store
public/*.html
public/html/*
public/js/*
public/css/*

.DS_Store
app/.DS_Store
app/haml/.DS_Store
app/sass/.DS_Store

.eslintrc
.stylelintrc
.sass-cache
.ruby-version
