!!! XML
!!!
/ Fun TLZ
%html
  %head
    %title Sergio L. Benítez D. - Factor Diversión
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Un diseñador y desarrollador de interfaces y experiencias de usuario desde la capital de Colombia", :name => "description"}
    %meta{:content => "Sergio L. Benítez D.", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = Haml::Engine.new(File.read('app/haml/partials/_stylesheets.haml')).render
  %body
    = Haml::Engine.new(File.read('app/haml/partials/_header.haml')).render
    = Haml::Engine.new(File.read('app/haml/partials/_btn_backshow.haml')).render

    %section#main.section-games.main-container.pt-page
      %section.section-container.pt-element.pt-element--scalefromup
        .post-container
          %article.post-content
            :markdown

              # Factor diversión en The Legend of Zelda: Spirits Tracks
              #### 10 de Agosto, 2012
              ##### Sergio L. Benítez D.

              El juego a desenvolver bajo el factor de diversión es uno de los dos títulos desarrollados para la videoconsola portátil Nintendo DS de la saga The Legend of Zelda. Es importante resaltar que el juego será analizado a través de las herramientas suministradas por el profesor de tecnología y entretenimiento __Jesse Schell__, en su artículo _Understanding Entertaiment: Story and Gameplay Are One_, con el fin de orientar el análisis desarrollado. Aclarados estos detalles se procede a profundizar el videojuego seleccionado.

              <figure>
              ![TLZ identificator](../../../assets/images/png/funtlz_01.png)<figcaption> Img 1 - Spirit tracks, logotipo </figcaption>
              </figure>

              > The Legend of Zelda: Spirit Tracks es un videojuego de acción-aventura para la videoconsola portátil Nintendo DS lanzado al mercado en diciembre del 2009, como sucesor de The Legend of Zelda: Phantom Hourglass. Dentro de este título, _Link_ (personaje principal de la saga) viaja a través de un escenario de carriles por medio de una locomotora de vapor equipada con un cañón, de manera similar al sistema de navegación planteado para Phantom Hourglass donde el medio era un barco de vapor para zarpar en los mares. En cuanto a narrativa, la introducción del juego se define por una batalla épica entre el demonio _Mallard_ y los espíritus de Hyrule que concluye con la sumisión del demonio en cuatro carriles espirituales. Cien años después aparece Link como un aprendiz de conductor de ferrocarriles quien esta a punto de recibir el título de “maquinista real” en el castillo de Zelda. Paralelo a este hecho surge un misterio por la desaparición de los carriles espirituales que se traduce en la liberación del demonio _Mallard_. Como es característico de toda la saga, Link contará con un instrumento musical denominado _Flauta Terrenal_ que será de ayuda en su periplo.

              El análisis se realizará por medio de un paralelo entre los ejes explicados por __Jesse Schell__ para evaluar el factor de diversión de un videojuego: _Entretenimiento e Interés_. El factor de _entretenimiento_ se abordará a través del modelo conformado por los elementos de _enfoque, empatía e imaginación_. Por otra parte, para comprender el _interés_ se hará referencia a los principios de _interés inherente, poesía de presentación y proximidad psicológica_. Finalmente, se citaran los _métodos indirectos de control_ utilizados en el videojuego por parte de los desarrolladores.

              ## Eje de entretenimiento

              La experiencia en el entorno de los juegos desenvuelve un punto fundamental, ya que debe establecer enlaces entre la relación usuario-videojuego y mantenerlos por medio de el entretenimiento.

              > El _entretenimiento_ se considera como algo frívolo, un acto que permite pasar el tiempo cuando no se están haciendo cosas importantes y que se retribuye de manera placentera.

              El enfoque de la mayoría de los videojuegos para la videoconsola portátil _Nintendo DS_ se atribuyen a la interacción con el _lápiz_ sobre la pantalla táctil. En _Spirit Tracks_ este medio de interacción se complementa con las características de la saga The Legend of Zelda. El manejo de los objetos como el bumerán, el arco y la espada por medio del trazado de recorridos o direcciones con ayuda del lápiz capta la atención del jugador de manera satisfactoria. El único punto de inflexión en donde el enfoque se dispersa, es la navegación en el tren ya que a lo largo del juego se torna monótono y lineal.

              > El _enfoque_ se asume como la habilidad de centrar la atención de las cosas más interesantes en un momento determinado, a través de la combinación de deseos inconscientes y motivaciones conscientes sobre cada una de nuestras acciones.

              <figure>
              ![TLZ gameplay](https://dsmedia.ign.com/ds/image/article/104/1048825/the-legend-of-zelda-spirit-tracks-20091124100218012.jpg)
              <figcaption> Img 2 - Spirit tracks, gameplay </figcaption>
              </figure>

              En el contexto de tecnologías y comunicaciones se ha desarrollado el concepto de _avatar_. Básicamente, un avatar es una representación gráfica, generalmente humana, que se asocia a un usuario para su identificación, el cual puede oscilar entre fotografías, personajes tridimensionales o dibujos artísticos. Es importante señalar que a lo largo de la saga _The Legend of Zelda_ el jugador se identifica con el personaje principal de la historia, dejando a flote algunas dudas sobre las diferencias entre un personaje de videojuego y un avatar. Personalmente, considero que la diferencia entre ambos términos repercute en el grado de personalización que el jugador pueda ejercer sobre el ente virtual, siendo el avatar más personalizable que el personaje. Dejando a un lado este pequeño paréntesis, en Spirit Tracks se manifiestan diferentes medios que establecen empatía entre el jugador y Link, como es el caso del manejo de gestos por parte del personaje cuando se realizan determinadas actividades. Para ilustrar este aspecto, se cita el mareo que sufre el personaje cuando realiza el _Super Spin Attack_, movimiento sobre el cual el personaje ejecuta un ataque de espada de manera circular realizando varias vueltas sobre el mismo eje. Otro ejemplo se manifiesta en la forma como la interfaz de Spirit Tracks advierte al jugador que Link se encuentra debilitado utilizando herramientas gráficas como la reducción de los corazones que representan los puntos de vida del personaje y el complemento auditivo que propone un ambiente de peligro para el jugador.

              > La _empatía_ se interpreta como la habilidad de ubicarse uno mismo en el lugar del otro, con el fin de sentirse parte de la historia creada por la entidad externa.

              <figure>
              ![TLZ spinattack](https://img12.deviantart.net/4986/i/2012/116/b/b/link_spirit_tracks_vector_by_verbotenbadger-d4xoskz.png)
              <figcaption> Img 3 - Link ejecutando el spin atack </figcaption>
              </figure>

              Para abarcar el criterio de imaginación, considero adecuado citar algunas palabras de uno de los creadores de la saga The Legend of Zelda, __Shigeru Miyamoto__. Miyamoto dice _“La inspiración de The Legend of Zeda se recuesta sobre mis experiencias en las laderas de mi casa de infancia en Sonobe, Japón, mientras estuve perdido en un bosque. Resalto que la experiencia que más me impacto fue cuando de la nada me tope con un lago, queriendo compartir esta experiencia con los jugadores de la saga_.” Con The Legend of Zelda, Miyamoto quería llevar la idea de un mundo interactivo que ofreciera a los jugadores _“un jardín en miniatura donde puedan hacer lo que quieran”_. En Spirits Tracks esta iniciativa se manifiesta con el manejo de texturas y entornos relativos a la naturaleza. Los ambientes en la saga de Legend of Zelda están directamente relacionados con los ecosistemas de nuestra planeta tierra. Los nevados, los desiertos, los lagos y los bosques son entornos protagonistas en Spirits Tracks y a través de medios audiovisuales se logra establecer los contrastes entre cada dominio.

              > La _imaginación_ es la habilidad de visualizar realidades alternas.

              <figure>
              ![TLZ map](https://www.guiasnintendo.com/0_NINTENDO_DS/zelda_spirits_tracks/zelda_spirits_tracks_sp/imagenes/fotos/mapas/mapa_conejos.jpg)
              <figcaption> Img 4 - Mapa de Spirit tracks </figcaption>
              </figure>

              ## Eje de interés

              En palabras de __Schell__, para medir el grado de interés de determinado hecho es necesario acudir a experiencias propias y aplicar filtros con ayuda de los ingredientes de _empatía_ e _imaginación_. Los mediadores como el riesgo o las cosas inusuales son fundamentos que permiten determinar el nivel de interés sobre los objetos o las acciones. Para el caso de Spirit Tracks, se considera que el interés inherente se reduce a la jugabilidad del título en la videoconsola portátil Nintendo DS explicado en el factor de empatía.

              > El _interés inherente_ consiste en argumentar el porque algunas cosas son más interesantes que otras.

              El título Spirit Tracks se suma a los títulos Wind Waker y Phantom Hourglas, como los únicos títulos de la saga desarrollados con la técnica gráfica _cel-shading_ para abordar el aspecto del videojuego. Esta técnica realiza un tipo de renderización diseñada para que los gráficos por computadora emulen a los dibujos hechos a mano y si bien el desenlace del manejo de este tipo de gráficas parece simplista, es un proceso complejo que particularmente se considera agradable a la vista, ya que el fruto es similar a la ejecución de trazos con lápiz sobre el papel cuando se busca un efecto de caricatura.

              > La _poesía de presentación_ abarca el aspecto estético y artístico de presentación, bajo el principio de que las cosas hermosas son más interesantes y llamativas que aquellas cuya presentación es mediocre.

              <figure>
              ![TLZ art](https://www.zeldadungeon.net/wp-content/uploads/2013/05/Spirit-Tracks-Train.jpg)
              <figcaption> Img 5 - Spirit tracks, material gráfico </figcaption>
              </figure>

              Un elemento crucial en el dominio de los videojuegos es el balanceo de la relación historia gameplay. En Spirit Tracks, la proximidad psicológica es trabajada a partir del entretenimiento interactivo creando herramientas que sumergen de manera satisfactoria al jugador como es el caso de interacción con la _flauta terrenal_. Al seleccionar este objeto el jugador debe soplar sobre la pantalla táctil y ubicar el lápiz en la nota adecuada para emitir el sonido correspondiente a la melodía que se pretende interpretar con el instrumento, promoviendo así una interacción exclusiva para este título. Adicionalmente, y como es característico de la saga, se proponen acertijos en donde se exige la agilidad mental del jugador. Esta particularidad es una herramienta para incrementar la proximidad psicológica entre el jugador y la historia del videojuego.

              > La _proximidad psicológica_ que consolida el carácter inmersivo de determinada actividad, haciéndose valer de las habilidades de empatía e imaginación para lograr que las experiencias ajenas se interpreten como propias.

              ## Conclusión

              Dos métodos de _control indirecto_ expuestos por __Schell__ son aplicados convenientemente en Spirit Tracks. El primero de ellos, es el _método de interface_ diluido por la capacidad del Nintendo DS en potencializar la experiencia interactiva de entretenimiento por medio de la pantalla táctil y el lápiz. El segundo, es el _método avatar_ explicado anteriormente, en donde ocasionalmente se pierde la noción del control en un mundo real y el control del mundo virtual, citando específicamente la interacción con la flauta terrenal. Recopilando todo el análisis, se puede deducir que el factor de diversión en el videojuego The Legend of Zelda: Spirit Tracks es positivo, ya que tanto las habilidades de entretenimiento como los factores de interés, fueron desarrollados de manera satisfactoria. Este hecho permite dedicar horas y horas de entretenimiento para poder cumplir el objetivo del juego: devolverle la tranquilidad a Hyrule.

              * * *

    / !Fun TLZ
    %footer
      = Haml::Engine.new(File.read('app/haml/partials/_scripts.haml')).render
