!!! XML
!!!
/ Inderect control Lemmings
%html
  %head
    %title Sergio L. Benítez D. - Control Indirecto
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Un diseñador y desarrollador de interfaces y experiencias de usuario desde la capital de Colombia", :name => "description"}
    %meta{:content => "Sergio L. Benítez D.", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = Haml::Engine.new(File.read('app/haml/partials/_stylesheets.haml')).render
  %body
    = Haml::Engine.new(File.read('app/haml/partials/_header.haml')).render
    = Haml::Engine.new(File.read('app/haml/partials/_btn_backshow.haml')).render

    %section#main.section-games.main-container.pt-page
      %section.section-container.pt-element.pt-element--scalefromup
        .post-container
          %article.post-content
            :markdown

              # Análisis de los métodos de control indirecto utilizados en Lemmings
              #### 28 de Enero, 2013
              ##### Sergio L. Benítez D.

              __Lemmings__ es un videojuego desarrollado originalmente para __Commodore Amiga__, diseñado por la empresa escocesa __DMA Design__ fundada por _David Jones_, la cual en el 2001 se convirtió en __Rockstar North__ . Actualmente es uno de los estudios de la compañía estadounidense __Rockstar Games__, reconocida por los títulos desarrollados para la serie _Grand Theft Auto_. Durante 1991, año del lanzamiento de __Lemmings__, el juego se consolidó como uno de los videojuegos de mayor éxito en la época, reflejado por la gran acogida que tuvo a nivel mundial.

              <figure>
              ![Lemmings identificator](https://cdn7.portalprogramasnet.com/imagenes/programas/es/931/14931_2.jpg)<figcaption> Img 1 - Pantalla de inicio del juego Lemmings </figcaption>
              </figure>

              Los personajes del juego son los leminos —lemmings es una referencia vulgar hacia esta especie—, y la narrativa alude a la creencia popular de que los leminos se suicidan en masa bajo situaciones de peligro. Los leminos son una tribu de roedores que habitan en las tundras y praderas árticas en el norte del continente americano, y se caracterizan por construir túneles y pozos que sirven como madriguera y depósito de alimentos. Algunas de estas características resultan relevantes para el diseño del videojuego, ya sea en el boceto de escenarios o en la creación de las habilidades que el jugador otorga a los __Lemmings__. El objetivo del juego consiste en salvar a un número determinado de lemmings en diferentes niveles con ayuda de ocho habilidades que se pueden repartir de manera limitada sobre cada roedor para alcanzar la salida del nivel. Es importante resaltar que __Lemmings__ es catalogado como uno de los primeros juegos de estrategia en tiempo real debido a la incorporación del concepto de control indirecto, por tener un diseño que se ha podido conservar a lo largo de estos 24 años gracias a su flexibilidad para adaptar el concepto a las distintas plataformas sobre las cuales hoy en día se desarrollan los videojuegos.

              Este ensayo se desarrollará bajo las cuatro categorías que un diseñador de videojuegos debe manipular para generar influencias sobre el jugador, ejerciendo así su capacidad de control indirecto a través de una serie de herramientas que se postulan para alcanzar comportamientos específicos con el propósito de promover una mejor experiencia de usuario. Las categorías a desarrollar son: _Entorno_, _Interfaz_, _Avatar_ e _Historia_

              <figure>
              ![Lemmings gameplay](https://3.bp.blogspot.com/_RYVo2Uh4rdE/StJ0Rq5UkbI/AAAAAAAAChg/eJQzymDI06c/s400/lemmings+1.JPG)
              <figcaption> Img 2 - Lemmings, primer nivel </figcaption>
              </figure>

              Bajo la categoría de entorno el diseñador de videojuegos puede utilizar diferentes herramientas para influenciar los ojos del jugador, bajo la premisa de que los ojos son guías para captar nuestra atención. En Lemmings esta categoría es la que más se trabajó y la que mejores resultados generó para consolidar el juego como uno de los títulos de mayor acogida durante los 90s. Para argumentar estas opiniones es adecuado describir el gameplay del videojuego analizado. Una de las principales propiedades que identifican el videojuego es el manejo de pistas arquitectónicas dentro de la elaboración de los escenarios. Este aspecto es evidente desde el nivel uno de Lemmings ilustrado en la figura 1. El primer lemming sale de la compuerta y aterriza en una superficie sobre la cual empieza a desplazarse en determinada dirección y si se encuentra con una pared el roedor simplemente cambia su dirección. Si el jugador no realiza ninguna interacción, los lemmings caminan indefinidamente por la superficie bajo un límite de tiempo. Si este tiempo transcurre en su totalidad los leminos explotarán y el jugador no habrá superado el nivel.

              Adicionalmente, si el jugador realiza una mala administración de los recursos generando un bloqueo del nivel, hay una opción que permite matar a todos los lemmings para poder reiniciar el nivel sin necesidad de esperar a que transcurran los cinco minutos que delimitan el tiempo disponible con el que cuenta el jugador para aprobar el escenario.

              En la imagen 2, el escenario expone un objetivo (una puerta que indica una salida) el cual sugiere al jugador realizar determinadas acciones para permitir que los lemmings lleguen a su destino antes de que el tiempo culmine. La ubicación del objetivo es la pista arquitectónica de mayor influencia sobre el jugador, puesto que es la que impulsa las operaciones del usuario. Un aspecto que considero bastante llamativo, es que __Lemmings__ maneja niveles en donde el objetivo no sale a primera vista. Por tanto, el jugador empieza a relacionar los elementos de la interfaz gráfica y le da un sentido al rectángulo de borde blanco ilustrado en el mapa del escenario localizado en la parte inferior derecha la imagen 2, el cual representa el campo visual del jugador sobre el escenario. Este hecho promueve automáticamente a que el jugador explore el mapa con el fin de ubicar el objetivo y hacerse una idea de los recursos que se deben utilizar para superar el nivel. Como se puede notar en la imagen 2, todas las herramientas están siempre disponibles a los ojos del jugador y el complemento de la interfaz es bastante acertado, elemento que será abordado a continuación.

              >Interfaz es lo que conocemos en inglés como interface (“superficie de contacto”). La palabra interfaz se utiliza en distintos contextos. Para este escrito el contexto es la interfaz como instrumento

              En cuanto _interfaz_, el diseñador de videojuegos debe anticipar los comportamientos del jugador a la hora de interactuar con el mismo. Por tal motivo, a través de la interfaz el diseñador utiliza recursos que permitan influenciar el uso de las manos del jugador —principal medio de interacción— y así anticipar las tareas del usuario en función del _entorno_ del juego. En __Lemmings__ el único medio interactivo es el mouse, pero este hecho no significa que el juego no sea entretenido, dado que el buen manejo de estas categorías supera el margen mencionado. La interacción en lemmings utiliza la atracción en la interfaz gráfica del juego con una especie de barra de herramientas ubicada en la parte inferior de la imagen 2, que contrasta con los demás elementos del escenario por medio del uso de tipografías de gran tamaño e imágenes de un lemming realizando determinada acción (Escalar, excavar, paracaídas, entre otros). Estas imágenes representan las diferentes habilidades que el usuario concede a un lemming para poder superar el nivel. Este elemento gráfico es acompañado por un número que limita la cantidad de veces que el usuario puede designar la habilidad sobre los roedores, regla que compele directIamente al jugador por medio de la administración de recursos, pues un mal uso de estos puede significar la pérdida del nivel.

              El control indirecto sobre esta categoría es bastante acertado como complemento del elemento de _entorno_, dado a que el juego demanda concentración en el uso adecuado de las habilidades que son gestionadas a través de un clic. A esta acción se le suma el límite de tiempo y un porcentaje que informa el número de lemmings que deben sobrevivir para poder superar el nivel.

              En cuanto la categoría de _avatar_, el diseñador repercute en el uso de instrumentos para influenciar el cuerpo del jugador por medio de evocaciones que creen una respuesta emocional sobre el usuario. Esta categoría no se trabaja en Lemmings dado que el jugador es un ente omnipresente que controla todo el mundo del videojuego a través del mouse, y por tanto no es posible representar una proximidad psicológica en el usuario.

              La última categoría a desarrollar es la de _historia_. Dentro de esta categoría el diseñador de videojuegos se vale de utensilios narrativos que generan influencias sobre la voluntad del jugador. En __Lemmings__, como se mencionó al inicio del ensayo, la historia alude a una creencia popular de que los leminos se suicidan en masa bajo situaciones de peligro. Por tal motivo, el jugador puede asumir el suicidio de un lemming como una acción válida para poder superar el nivel. Es por esta razón, que una de las habilidades es representada con la imagen de una explosión que permite matar al lemming y en ocasiones aprovechar los efectos de la explosión para abrirse paso dentro del nivel. Bajo esta categoría, la voluntad del usuario es influenciada a través del mito sobre los lemmings, sin embargo el juego no introduce ninguna narrativa y este detalle solo puede ser descubierto si el jugador considera interesante la palabra lemmings y busca su significado con ayuda de elementos externo al juego.

              En conclusión, el análisis de diseño al cual fue sometido __Lemmings__, consolida el videojuego como uno de los pioneros en el manejo satisfactorio de un diseño de videojuegos por medio del control indirecto. Se identificaron herramientas claves para generar control indirecto sobre un videojuego como: _atraer_, _compeler_, _evocar_, _razonar_, _asumir_ y el uso de _pistas arquitectónicas_ a lo largo de las cuatro categorías que fueron desarrolladas. El empleo de estas herramientas permite enfocar la atención del jugador, influenciarlo y dirigirlo hacia determinada dirección, predominar en las operaciones del mismo y finalmente obligarlo a crear estrategias de juego que permitan sobrepasar el nivel. Todo esto en función de guiar y garantizar una mejor experiencia de usuario con respecto al videojuego.

              * * *

    / !Inderect control Lemmings
    %footer
      = Haml::Engine.new(File.read('app/haml/partials/_scripts.haml')).render
