!!! XML
!!!
/ Colombia 4.0 - Nolan Bushnell
%html
  %head
    %title Sergio L. Benítez D. - Colombia 4.0
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Un diseñador y desarrollador de interfaces y experiencias de usuario desde la capital de Colombia", :name => "description"}
    %meta{:content => "Sergio L. Benítez D.", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = Haml::Engine.new(File.read('app/haml/partials/_stylesheets.haml')).render
  %body
    = Haml::Engine.new(File.read('app/haml/partials/_header.haml')).render
    = Haml::Engine.new(File.read('app/haml/partials/_btn_backshow.haml')).render

    %section#main.section-events.main-container.pt-page
      %section.section-container.pt-element.pt-element--scalefromup
        .post-container
          %article.post-content
            :markdown

              # Colombia 4.0
              #### Septiembre, 2017
              ##### Sergio L. Benítez D.

              Hay hábitos que no debemos dejar perder. A pesar de mi ausencia en el evento del 2016, este año asistí a la cumbre de contenidos digitales de mayor escala que se realiza en Colombia. Como ha sido tendencia en la mayoría de las ediciones, es de aplaudir el calibre de los invitados, y este año se fajaron con la presencia de Nolan Bushnell, un referente sin duda alguna para la industria de videojuegos.

              En esta edición de Colombia 4.0 se ofrecieron conferencias sobre campos que desde su primera edición han sido pilares: Animación, Videojuegos y Web. Los nuevos espacios tratados fueron Medios de Comunicación, Publicidad Digital y Monetización. Por otra parte, se reconoce el apoyo al movimiento de Hacker Girls cuyo objetivo es fomentar la participación de la mujer en el mundo digital.

              <figure>
                ![Colombia 4.0](https://i2.wp.com/www.gestionandoportunidades.com/wp-content/uploads/2017/08/cumbre-de-Contenidos-Digitales-m%C3%A1s-importante-de-Colombia-Y-Latinoamerica-donde-el-mundo-digital-conecta.-Se-llevar%C3%A1-a-cabo-del-20-al-23-de-septiembre-de-2017.jpg?fit=952%2C482)
                <figcaption> Img 1 - Banner de Colombia 4.0 2017 </figcaption>
              </figure>

              Esta serie de publicaciones recopila mis notas con respecto a las cuatro conferencias que asistí:

              - La presentación de Nolan Bushnell
              - Las lecciones aprendida de los errores de la industria de los videojuegos en Estados Unidos, por James Portnow.
              - Animación en Game of Thrones, por Morgan Jones.

              # La presentación de Nolan Bushnell

              <figure>
                ![Nolan Bushnell](https://col40.co/638/articles-55145_foto_marquesina.png)
                <figcaption> Img 2 - Nolan Bushnell, fundador de Atari </figcaption>
              </figure>

              Las palabras de Nolan Bushnell eran las que más expectativa despertaban para la audiencia de la cumbre. Bushnell es un pionero en la industria de videojuegos y su participación en Atari abrió las puertas para un mercado que en el 2016 generó ingresos totales de 101,000 millones de dólares. En su presentación compartió varias de las experiencias vividas con Atari, sus éxitos, sus fracasos y realizó una invitación para trabajar por pasión y luchar por ideales. A continuación, se comparten dos de las historias de Bushnell.

              La primera historia, es un caso de éxito bajo la iniciativa de Bushnell en llevar un nuevo tipo de esparcimiento a los bares de Estados Unidos. Fue así que a principios de la década de los 70s los bares incorporaron máquinas de entretenimiento operadas a través de monedas, denominados Arcade. El triunfo de Bushnell con esta propuesta se consolidó con uno de los videojuegos más emblemáticos y tradicionales de la industria: Pong. Pong es un juego en dos dimensiones que simula una mesa de tenis. El jugador controla una paleta que se mueve verticalmente en la parte izquierda de la pantalla para competir contra un oponente controlado por computadora u otro jugador, que usan la misma mecánica sobre otra paleta ubicada en el sentido opuesto de la pantalla. Los jugadores usan las paletas para golpear una pelota que va y viene. El objetivo es alcanzar 11 puntos antes que tu rival. El punto se obtiene cuando uno de los jugadores no logra devolver la pelota. Estas simples mecánicas incorporadas en Arcade, son un ejemplo nato de innovación que sin duda desencadenó el inicio de la industria de los videojuegos.

              La segunda historia es una repercusión del éxito de Pong, y su núcleo fue la propuesta de Bushnell de llevar estas máquinas de entretenimiento a los hogares. Fue así que a finales de la década de los 70s, Bushnell salió al mercado con Atari 2600. A esta máquina se le da el crédito de popularizar los microprocesadores instalados en la consola para funcionar en conjunto con cartuchos, los cuales contienen el código del videojuego. Este esquema marcó un hito en la industria de los videojuegos, pues los cartuchos empezarían a ser desarrollados por empresas independientes a Atari, logrando así más variedad en los contenidos disponibles para la consola.	Otro caso satisfactorio de gloria se logró, no obstante, seguir bajo la sombra de la innovación no es tarea fácil.

              Al abrir las puertas de la industria de los videojuegos, empezar a tener competidores solo era cuestión de tiempo. Por otra parte, el departamento administrativo de Atari tomó malas decisiones para el porvenir de la empresa. Recuerdo con gracia una diapositiva que compartió Bushnell de un grupo de personas en vestido de paño, corbatas, lentes y peinados afinados a un arquetipo administrativo. Al ver dicha imagen, Bushnell suspiro y en un tono cómico pronunció "... They were the guys who crashed Atari". Sin más trascendencia, paso a la siguiente diapositiva en donde mostraba un grupo de personas con batas, lentes quienes en sus manos sostenían cautines y se les observaba alegremente trabajando sobre tarjetas electrónicas.  con esta imagen de fondo Bushnell dijo "estas fueron las personas que construyeron el éxito de Atari". Todo esto precedió el manifiesto con el que Bushnell creó Atari:

              - Primero la experiencia del jugador
              - Convención de desafío
              - Enfoque en el talento y en el equipo
              - Considerar el juego seriamente
              - Mantente hambriento, mantente humilde

              Con motivos de culminar la charla, Bushnell pronunció sus palabras de agradecimiento por la invitación al evento y manifestó su alegría por visitar Colombia. Atendió unas cuantas preguntas relacionadas a sus proyectos actuales con realidad virtual, y prosiguió la sesión de firmas sobre las consolas Atari 2600. Personalmente fue un sueño cumplido haber escuchado en presencia física las historias del padre de los videojuegos.

              * * *
    / !Colombia 4.0 - Nolan Bushnell
    %footer
      = Haml::Engine.new(File.read('app/haml/partials/_scripts.haml')).render