!!! XML
!!!
/ Kokolock
%html
  %head
    %title Sergio L. Benítez D. - Kokolock
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Un diseñador y desarrollador de interfaces y experiencias de usuario desde la capital de Colombia", :name => "description"}
    %meta{:content => "Sergio L. Benítez D.", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = Haml::Engine.new(File.read('app/haml/partials/_stylesheets.haml')).render
  %body
    = Haml::Engine.new(File.read('app/haml/partials/_header.haml')).render
    = Haml::Engine.new(File.read('app/haml/partials/_btn_backshow.haml')).render

    %section#main.sc-general.main-container.pt-page
      %section.section-container.pt-element.pt-element--scalefromup
        .post-container
          %article.post-content
            :markdown

              # Kokolock, una iniciativa ofuscada
              #### Enero, 2017

              Una de los cosas que lamento actualmente, fue no haber hecho un registro de los trabajos que desarrolle durante mis estudios universitarios. Esta reflexión la comparto, porque organizando papeles en este inicio de año, me encontré con una iniciativa que tuvimos con mis compañeros del colegio durante el 2015, para aprovechar una oportunidad en el auge de las aplicaciones móviles. No pienso cometer este error dos veces y por eso a través de esta publicación quiero dejar registro de nuestra experiencia con Kokolock.

              ## ¿Cómo surgio la idea?

              Durante el segundo semestre del 2015, cada vez que nos reuníamos con mis compañeros del colegio, siempre terminábamos discutiendo del fuerte impacto que estaba teniendo el uso de dispositivos móviles en la sociedad moderna. La cantidad de interacciones que se dan con una pantalla de 5" para tener participación en redes sociales y acceder a entretenimiento era una tendencia que se fue consolidando con el tiempo, y de la cual queríamos ser partícipes.

              Nuestra primera idea, llegó hasta un estudio de mercado, y consistía en ofertar las diferentes actividades nocturnas de una ciudad en función de la ubicación geográfica del usuario. Se pretendía crear una comunidad de proveedores (dueños de los establecimientos nocturnos) y a través de una plataforma registrar eventos y descripciones asociadas al lugar. Una vez consolidada la información en la plataforma, el usuario podría consultar los anuncios a través de una aplicación móvil. La idea fue perdiendo  fuerza, porque se anticipó que gran parte del éxito estaba en la participación de la comunidad de proveedores y culturalmente en colombia, obrar de manera colaborativa con la competencia directa, es una intención que se prefiere evitar.

              Gastado el primer cartucho, se hizo una reflexión y se decidió cambiar la perspectiva de la idea. Se quería  atacar un problema recurrente, y de repente terminamos hablando de nuestros primos de edades inferiores a los 8 años. Los tres contamos historias muy parecidas en donde se presentó el mismo comportamiento: los padres terminaban cediendo sus tabletas a sus hijos, para evitar que ellos hicieran una pataleta. Evaluando este caso, los tres acertamos en que sería conveniente que los padres den acceso al dispositivo, esperando que el uso del mismo, brinde algún beneficio para el hijo. Para condicionar este beneficio se necesita que la interfaz conste de una actividad que sea explícita para forzar un escenario. Por tanto, un principio que garantiza el éxito de la idea era tener control sobre el desbloqueo en las tablets y smartphones. El objetivo era realizar una aplicación que a través del desbloqueo, nos permitiera incluir acertijos, preguntas o juegos mentales para estimular el nivel cognitivo de los niños cada vez que usen el dispositivo móvil.

              ## Journeys
              Al momento de definir los flujos dentro del contexto de la aplicación, se encontraron dos momentos; El primero era reemplazar el patrón o el código de desbloqueo por un acertijo asociado a la aplicación. El segundo, era imponer el desbloqueo cuando el usuario intente abrir una aplicación específica. Luego de consolidar el estado de arte, se concluye que la primera opción era intrusiva, porque era un comportamiento determinado por las configuraciones del dispositivo. El segundo momento era más accesible y en las tiendas de Apps se encontraron aplicaciones que permiten habilitar el bloqueo en una aplicación (e.g Secret App lite). Para contextualizar la idea, a continuación se describen dos casos de uso del aplicativo

              _Ejemplo 1: El niño va a utilizar la aplicación Plants vs Zombies del dispositivo móvil de su padre. Al intentar abrirla aparece una ecuación: 2 + x = 8. Si el usuario no resuelve la ecuación no podrá jugar Plants vs Zombies.. En caso de que el usuario determine que el valor de x en la ecuación es el número 6, podrá continuar con sus avances en Plants vs Zombies. El siguiente gráfico ilustra esta descripción;_

              <figure>
              ![Kokolock](../../../assets/images/jpg/kokolock_wf_lock.jpg)<figcaption> Img 1 - Workflow de desbloquo de la aplicación </figcaption>
              </figure>

              _Ejemplo 2:  El padre del usuario entra a la aplicación Kokolock para determinar cuáles apps descargadas contarán con el bloqueo de aprendizaje. El siguiente flujo ilustra esta descripción:_

              <figure>
              ![Kokolock](../../../assets/images/jpg/kokolock_wf_setup.jpg)<figcaption> Img 2 - Workflow de configuración </figcaption>
              </figure>

              ## El nombre

              El nombre de un proyecto puede ser muy complicado de definir pero muy sencillo de consolidar. Considero que los procesos para definir el nombre comienzan de la misma forma para la mayoría de los casos. Desde la combinación de dos palabras para formar una tercera, hasta intentar formar una palabra con las sílabas de los nombres de los autores que están definiendo la idea. Evidentemente, es un proceso iterativo y entran a jugar variables de idioma y significado. En nuestro caso, las primeras propuestas fueron KeyLearn, Puzzlock y terminamos cediendo a Learn-ando para una primera iteración, la decisión fue por la gracia que nos causaba la combinación de una palabra en inglés y el infinitivo de un verbo en español.

              Otorgando más seriedad al asunto, se inició una investigación sobre símbolos que aluden al aprendizaje, y encontramos la historia de Koko, la gorila que ha aprendido un gran número de signos basado en el lenguaje de señas americana. Con esta historia encontramos también un símbolo, y bajo la referencia de Duolingo, en algún momento se esperaba definir una mascota como Duo, el loro que acompaña los avances del usuario en un idioma determinado. Ese momento ya había llegado, la mascota de la idea era Koko, y con la palabra lock derivada del inglés, habíamos encontrado el nombre de la iniciativa: *Kokolock*.

              El hecho de solicitar el certificado de notas a la universidad en donde realice mis estudios de pregrado tuvo un costo de 120.000 COP. Cabe resaltar que este precio varía dependiendo de la universidad, pues es la institución  quien establece los criterios para definir el precio del certificado de notas.

              ## Material gráfico
              En el siguiente tablero se aglomeran los diferentes elementos que sirvieron como referencia para construir los elementos gráficos de Kokolock. Dichos elementos tienen como referencia los aspectos relacionados con el gorila, agrupando tipos de gorilas, lugares que habitan, colores que los caracterizan y personajes que los simbolizan:

              <figure>
              ![Kokolock](../../../assets/images/png/kokolock_moodboard.png)<figcaption> Img 3 - Moodboard de Kokolock </figcaption>
              </figure>

              ### Koko
              Koko es el gorila que representa la aplicación. Su nombre se atribuye a la famosa gorila Koko que reside en California, Estados Unidos y es reconocida por interpretar un lenguaje de señas. Con Koko se quiere transmitir la capacidad que tienen los seres vivos para aprender.

              <figure>
              ![Kokolock](../../../assets/images/png/kokolock_character.png)<figcaption> Img 4 - Koko </figcaption>
              </figure>

              ### Logotipo
              El logotipo utiliza la familia de fuentes [linotte](https://www.fontsquirrel.com/fonts/linotte). Linnote y sus diferentes subfamilias serán utilizadas para los elementos gráficos que requieran de texto en la aplicación. Dentro del logotipo se utiliza dentro de la tercera 'o' una imagen que alude a la cerradura brindando la faceta de desbloqueo que desarrolla la aplicación.

              <figure>
              ![Kokolock](../../../assets/images/png/kokolock_logotype.png)<figcaption> Img 5 - Logotype </figcaption>
              </figure>

              ### Symbol
              Este elemento es la silueta que forma la cabeza de Koko y será utilizada cuando los detalles de Koko no sean visibles por trabajar imágenes con resoluciones pequeñas.

              <figure>
              ![Kokolock](../../../assets/images/png/kokolock_symbol.png)<figcaption> Img 6 - Symbol </figcaption>
              </figure>

              ### Logosymbol
              Este elemento es la unión del logotipo y el símbolo.

              <figure>
              ![Kokolock](../../../assets/images/png/kokolock_logosymbol.png)<figcaption> Img 6 - Symbol </figcaption>
              </figure>

              ## Desenlace
              Ya se habían construido los cimientos de Kokolock, y era el momento de decidir si se desarrollaba la idea por cuenta propia conformando un equipo de trabajo o se contrataba una empresa especializada en el desarrollo de aplicaciones móviles. Se decidió la segunda alternativa, ya que se quería tener una retroalimentación desde otros puntos de vista, pero nos enfrentamos a un nuevo dilema; compartir la idea era exponerla a un posible robo, y el hecho de pensar que Kokolock fuera elaborada por otras manos sin nuestro consentimiento era una situación que no se quería afrontar. Con algo de recelo, se elaboró un formato para un acuerdo de confidencialidad con la intención de tener una herramienta de defensa en caso de que se robe la idea.

              Consultamos tres casas de desarrollo y los comentarios fueron certeros. En todos los casos se reconoció que la iniciativa era llamativa pero su implementación era complicada. Una de las casas de desarrollo fue contundente diciendo que la aplicación no se podría elaborar en iOS, ya que por políticas internas del sistema no se permite que una aplicación bloquee otras aplicaciones. En cuanto a android, podría realizarse pero con limitaciones y una posible repercusión en temas de rendimiento del equipo.

              La estocada final se recibió al tener una reunión con un analista de mercadeo de aplicaciones móviles. Dicha persona, reconoció que la idea era atractiva pero sus fundamentos de ejecución eran débiles. El mercado de aplicaciones móviles es volátil y sus retribuciones están cohesionadas al tiempo que dure la tendencia. Cobrar para descargar la aplicación es una opción absurda cuando el mercado te ofrece millares de aplicaciones gratuitas. Para obtener ingresos en este mercado, la publicidad es el camino o el uso de un modelo de monetización free-to-play. Por otra parte, se recibió un consejo en repercusión a nuestro recelo cada vez que explicamos Kokolock. 

              > "Las ideas hay que compartirlas para poder evaluar su viabilidad. Estás realmente adquieren valor cuando se materializan."

              * * *
          / !Kokolock
    %footer
      = Haml::Engine.new(File.read('app/haml/partials/_scripts.haml')).render
