!!! XML
!!!
/ Licamba
%html
  %head
    %title Sergio L. Benítez D. - Web
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Un diseñador y desarrollador de interfaces y experiencias de usuario desde la capital de Colombia", :name => "description"}
    %meta{:content => "Sergio L. Benítez D.", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = Haml::Engine.new(File.read('app/haml/partials/_stylesheets.haml')).render
  %body
    = Haml::Engine.new(File.read('app/haml/partials/_header.haml')).render

    = Haml::Engine.new(File.read('app/haml/partials/_btn_backshow.haml')).render

    %div#main.sc-web.main.pt-page
      .article.pt-element.pt-element--scalefromup
        .post
          .post-content
            :markdown

              # Páginas web
              #### Julio, 2014

              Para trabajar el vocablo _web_ es necesario traer al escenario la palabra _internet_, ya que en varias oportunidades he sido testigo de la confusión que manifiestan ambos conceptos. Si bien la audiencia acepta que estos términos ya hacen parte de su cotidianidad frecuentemente suelen malinterpretarlos y en el peor de los casos los asumen como sinónimos.

              > __Internet:__ Red de redes de acceso público a nivel mundial

              Como gran parte de los avances tecnológicos el Internet es consecuencia de objetivos militares. Su propósito fue crear un sistema de comunicación que sobreviva a una guerra nuclear y por ende era necesario descentralizar la información. La solución dio origen a un paradigma de comunicación denominado _conmutación de paquetes_ (packet switching en inglés). Toda esta infraestructura se realizo sobre varias universidades en Estados Unidos y cronológicamente fue desarrollada en al década de 1970 a 1980.

              > __Conmutación de paquetes:__ método de redes digitales en el cual cada paquete de un mensaje recorre una ruta entre sistemas anfitriones sin que la ruta sea previamente definida

              Ya definida la infraestructura del Internet dos décadas después surgió la necesidad de aprovechar los computadores conectados para poder compartir la información científica de manera eficiente. La solución la gestiono el británico _Tim Berners-Lee_ a través de la creación de un protocolo para transferir hipertextos (HTTP), un lenguaje para crear los documentos (HTML) y un sistema de localización de objetos (URL). Estos elementos son los pilares que estructuran la web.

              > __Web:__ Conjunto de información que se encuentra en una dirección determinada de Internet.

              En las últimas décadas, los propósitos de la web han ido creciendo y su incursión se extendió de campos académicos a laborales, comerciales y de entretenimiento. Actualmente un portal web brinda varios beneficios en temas de disponibilidad, alcance global y reducción de costos operativos. Bajo este contexto fue que se desarrollo el proyecto que comparto a continuación.

              * * *

              ## Liceo campestre bosque andino - Licamba

              Licamba es una institución educativa basada en la formación integral durante los primeros cinco ciclos de desarrollo humano trabajados por Jean Piaget, Lev Vygotsky y Henri Wallon. El proceso de formación integral es enfocado hacia diferentes áreas de conocimiento en niveles cognitivos, expresivos y afectivos. Su lema y principio es "Investigar para aprender".

              La comunidad del liceo demando la creación de una página web para reunir y exponer los contenidos relativos al colegio. Uno de los requisitos del proyecto consistía en el posicionamiento en motores de búsqueda (SEO por sus siglas en inglés). En consecuencia, se realizo una profunda investigación para poder elaborar una web optimizada para SEO. Se analizaron los conceptos de _autoridad_ y _relevancia_, se trabajaron factores de velocidad de carga, evasión de contenidos duplicados y ejecución  de la canabalización de palabras clave (keyword stuffing en inglés) para laborar los componentes internos de la página comprendidos por el término de autoridad. De manera similar, se aplico la técnica de construcción de enlaces (link building en inglés) para abordar los factores externos incluidos en el concepto de relevancia.

              La página web se creo con un _sistema de gestión de contenidos_ (CMS por  sus siglas en ingles) ya que la administración del sitio iba ha ser delegada a una persona interna de la institución. Por otra parte, el plazo para ejecutar el proyecto era corto y el uso de CMS agiliza el proceso de desarrollo.

              Los invito a consular el sitio que esta habilitado en el siguiente enlace: <a href="https://licamba.edu.co" target="_blank">Licamba</a>

              * * *
          / !Licamba

    %footer
      = Haml::Engine.new(File.read('app/haml/partials/_scripts.haml')).render
