!!! XML
!!!
/ Narrative Diablo III
%html
  %head
    %title Sergio L. Benítez D. - Narrativa en Videojuegos
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Un diseñador y desarrollador de interfaces y experiencias de usuario desde la capital de Colombia", :name => "description"}
    %meta{:content => "Sergio L. Benítez D.", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = Haml::Engine.new(File.read('app/haml/partials/_stylesheets.haml')).render
  %body
    = Haml::Engine.new(File.read('app/haml/partials/_header.haml')).render

    = Haml::Engine.new(File.read('app/haml/partials/_btn_backshow.haml')).render

    %div#main.sc-games.main.pt-page
      .article.pt-element.pt-element--scalefromup
        .post
          .post-content
            :markdown

              # Narrativa en Diablo
              #### Septiembre, 2012

              El videojuego seleccionado para analizar su narrativa es uno de los tres pilares de la prestigiosa compañía Blizzard Enterteiment, cuyo primer título fue lanzado en 1996 e identifica a toda una generación de jugadores. En el escrito se citarán criterios importantes para descomponer el aspecto narrativo de un videojuego, consolidando como guía las _lógicas aristotélicas_ que componen un drama y profundizando estos elementos a través de _los arquetipos de Vogler_ y el _arco narrativo de Freytag_. Ademas, se establecerá un punto de vista con respecto a la propuesta del diseñador de videojuegos __Chris Metzen__, de “intentar recopilar toda la mitología interna y la historia de la franquicia en un elemento externo que permita crear la ilusión de que ese mundo existe en algún lugar“ por medio de _Diablo III: Libro de Caín_.

              <figure>
              ![Diablo identificator](https://www.mongreler.com/wp-content/uploads/2012/04/Diablo-3-Logo.png)<figcaption> Img 1 - Diablo, logotipo </figcaption>
              </figure>

              El infierno se desata en 1996 gracias al trabajo en conjunto de las empresas Condor y Blizzard para desarrollar un juego llamado Diablo. En esta primera parte de la saga, se establecieron mecánicas sólidas que todavía se conservan en la última edición. Es el caso de poder seleccionar uno de varios héroes para afrontar la travesía. En cuanto a narrativa del primer título, esta se limita a la exploración de las catacumbas bajo el poblado de Tristram en busca de una maldad que amenaza con infestar al mundo entero: Diablo, el Señor del Terror.

              En el 2000 se realizó el lanzamiento de Diablo II. En esta edición de la saga, se innovo con una estructura descriptiva conformada por actos; cada acto sigue el mismo patrón de cumplir una serie de misiones para poder culminar con una batalla en contra de un jefe final. También se adicionaron nuevos personajes: los Males Superiores hermanos de Diablo y __Tyrael__ el Arcángel de la Justicia. Ambos son pieza clave para evidenciar la contienda entre el bien y el mal bajo la cual se desarrolla el drama del videojuego. En cuanto a escenarios, se expande el poblado de Tristam al mundo de Santuario, relacionando competentemente una zona del mismo con cada acto que compone el videojuego. Otro aspecto importante a citar, es el protagonismo que se empieza a otorgar a la figura narrativa de la saga, __Deckard Caín__, pues es el único personaje que se conserva de la primera edición.

              <figure>
              ![Diablo Deckcard Cain](https://static.giantbomb.com/uploads/original/0/4340/186808-ss41_hires.jpg)
              <figcaption> Img 2 - Diablo, Deckard Caín </figcaption>
              </figure>

              Un año después se lanzó la expansión del videojuego con el nombre Diablo II: Señor de la Destrucción, cuyo objetivo fue derrotar a __Baal__, hermano de Diablo, quién en la edición anterior jugo un papel explicativo sustancial al abrir el enlace para continuar con la historia. El objetivo de Baal era encontrar la __Piedra Ecuménica__ consolidada como una reliquia invaluable ligada al mundo de Santuario para destruirla.

              12 años después, se hizo el lanzamiento de Diablo III. En esta edición se conserva la estructura de los cuatro actos. Se expanden los personajes con el fin de potenciar la batalla entre el bien y el mal junto con el mundo de Santuario. Así también, se retroalimenta el aspecto narrativo del juego gracias a la adquisición de objetos como diarios y cartas a lo largo del _gameplay_ que pretenden conectar la transición entre Diablo II y Diablo III. Otro aspecto a resaltar, es que durante la espera entre las dos últimas ediciones de la saga, Blizzard público una trilogía de novelas que complementan el carácter narrativo del videojuego

              Luego de esta breve introducción se conduce al análisis narrativo de Diablo III con las herramientas señaladas al inicio del texto.

              ## Elementos aristotélicos del drama y el teatro

              Para facilitar la interpretación del estudio realizado sobre la narrativa de Diablo con base en los seis elementos aristotélicos del drama —__trama, personaje, tema, dicción, música y espectáculo__— se propone un esquema de definición del elemento y la aplicación del término sobre el contexto del videojuego.

              > __Trama:__ Estructura que se forja para que los eventos significativos tomen lugar en el relato.

              Este elemento será desarrollado posteriormente, pues esta directamente relacionado con el _arco narrativo de Freytag_.

              > __Personaje:__ Personas, animales, y objetos que se desenvuelven en la narrativa.

              Ya se han mencionado algunos y para realizar una observación cualificada se utilizarán los _arquetipos de Vogler_. Por tanto, se retomará este elemento más adelante en la sección correspondiente.

              > __Dicción:__ Estilos de comunicación que identifican a los personajes en función de sus personalidades.

              En Diablo, el ejemplo más evidente del elemento en cuestión se asocia al personaje de __Deckard Caín__, dado que al expresarse oralmente acentúa con elegancia, frasea respetando las pausas y matiza los sonidos musicales de acuerdo a la sabiduría que lo caracteriza.

              > __Música:__ Manejo de melodías o efectos de sonido que se complementan a los escenarios o actividades relacionados con el personaje.

              En el contexto del videojuego, la música evoca ambientes horripilantes y melodías de misterio. Este elemento es tan valioso que en la edición de coleccionista de Diablo II, el usuario tenía acceso a un disco compacto con la banda sonora del mismo. Este hecho demuestra lo detallado que fue la operación del factor música en el juego.

              > __Espectáculo:__ Aditamento que se expresa a través de fantasía. Su objetivo es atraer la atención del receptor de la narrativa.

              Por si mismo el juego es un espectáculo. Sin embargo, se resaltan piezas como las cinématicas, pues refuerzan la intención de este elemento. Los escenarios no se quedan atrás, dado que el protagonista realiza su travesía en diferentes ecosistemas tales como desiertos, bosques, montañas y pantános. A su vez, los creadores del juego se arriesgan a dar una perspectiva de escenarios descritos en diferentes mitologías con una faceta inventiva: el inframundo y los cielos superiores.

              ## Trama de Diablo a través del arco narrativo de Freytag

              El arco de Freytag se comopone de cinco actos: __exposición, incidente iniciador climax, resolución y final__. La siguiente imagen ilustra la secuencia del arco narrativo de Gustav Freytag:

              <figure>
              ![Diablo Arco de Freytag](https://www.roastbrief.com.mx/wp-content/uploads/2014/07/Gr%C3%A1ficas_Roast-01.jpg)
              <figcaption> Img 3 - Arco de Freytag </figcaption>
              </figure>

              En el acto de _exposición_ se consolida el material introductorio que proporciona el ajuste de la historia y presentación de los personajes. En Diablo III este criterio es abordado con la narrativa introductoria de cada héroe y se desenvuelve en el trayecto del primer acto, en donde se conoce a __Leah__, se contacta a __Caín__ y se refleja el conflicto que están generando los Males Inferiores.

              El _incidente iniciador_ es el gatillo que dispara el conflicto de la trama. Para el caso particular de Diablo III es la caída de __Tyrael__ desde los cielos sin su condición de arcángel y sin recuerdo alguno.

              El _incremento de las acciones_ es una serie de eventos que se construyen desde el conflicto y genera un hincapié para el clímax. En Diablo III este acto se inicia cuando __Tyrael__ recupera sus recuerdos al devolverle su espada y delega el mensaje de los planes maléficos de los Infiernos Ardientes para destruir el mundo mortal de Santuario. Para evitar esta catástrofe se debe recuperar la __piedra del alma oscura__ que contiene los espiritus de los Males Superiores y adjuntarle las ánimas de los Males Inferiores para posteriormente destruirla. 

              El _clímax_ es el resultado de la crisis y representa el punto más alto de la historia. En Diablo III el clímax se trabaja con la traición de __Adria__ y la reencarnación de Diablo en __Leah__, abriéndose paso al mundo de los Cielos Superiores para acabar con el conflicto eterno a favor de los Infiernos Ardientes.

              El _decremento de las acciones_ son los eventos posteriores al clímax que buscan cerrar la historia. En Diablo III es la travesía del héroe en los Cielos Superiores en busca de Diablo para aniquilarlo.

              El acto de _resolución_ es en donde la acción se rodea y se concluye. En Diablo III la resolucón corresponde a la batalla contra Diablo. Por último, esta el acto _final_ que se explica por si solo y para el entorno del videojuego consiste en la derrota de Diablo y el retorno de la paz a los Cielos Superiores.

              ## Personajes de Diablo bajo los arquetipos de Vogler

              El primer arquetipo a desarrollar es el _héroe_ que en Diablo III se asigna al rol que el jugador decida escoger entre 5 tipos: Arcanista, Bárbaro, Cazador de Demonios, Monje o Médico Brujo, todos en representación de la raza humana. En función de la selección realizada, el juego ofrecerá una narrativa inicial exclusiva para cada tipo. A lo largo del juego, la historia propia del personaje se adaptará a la narrativa del juego.

              En el transcurso del escrito se ha mencionado el personaje de __Deckard Caín__ que en términos de Vogler se adapta al arquetipo de _mentor_. El mentor se presenta en forma de conocimiento y a menudo brinda herramientas para que el héroe realice su viaje. Esta relación en algún momento tendrá un fin y para el caso de Diablo III es cuando __Deckard Caín__ es asesinado por __Magda__, una bruja súbdita de los Males Inferiores.

              __Magda__, se postula bajo el arquetipo de _guardianes del umbral_. Este arquetipo suele poner a prueba o amenaza al héroe cuando enfrenta a nuevas situaciones bajo el filtro de que solo los dignos pueden continuar su periplo. Encima, se caracterizan por ser neuróticos y manifestar una tendencia a vicios, debilidades y auto limitaciones.

              Dentro de la transición de Diablo II a Diablo III quizá la cadena que se conecta con mayor evidencia es el papel que desenvuelve el arcángel __Tyrael.__ En Diablo III, __Tyrael__ renuncia a su condición de arcángel para convertirse en humano y cae de los cielos sin ningún recuerdo. Este comportamiento es característico del arquetipo del _heraldo_ quien psicológicamente es la llamada interna hacia el cambio.

              Otro arquetipo presente en la narrativa del juego es el de _shapeshifter_, encarnado por __Adria__, madre de __Leah__. A lo largo del juego __Adria__ se ofrece como una ayuda en la aventura del héroe para conseguir la __piedra del alma oscura__, artefacto codiciado por los Males Inferiores por contener las almas de los Males Superiores, que en el penúltimo acto es utilizado por __Adria__ para revivir a Diablo dentro del cuerpo de su hija __Leah__. El engaño al héroe es la principal característica del shapshifter. 

              Los personajes y arquetipos trabajados son los más destacados en la narrativa de Diablo III. Se debe mencionar que terceros fueron ignorados —los otros cuatro Arcángeles y los dos Males Inferiores—, pues estas figuras desenvuelven un papel complementario dentro de la narrativa del videojuego.

              ## Diablo III: Libro de Caín

              <figure>
              ![Diablo Libro de Caín](https://eu.media1.battle.net/cms/gallery/M1DC9JSRRZ3R1336140502131.jpg)
              <figcaption> Img 4 - Diablo III: Libro de Caín </figcaption>
              </figure>

              Personalmente, no puedo dejar pasar por alto la propuesta de __Chris Metzen__ con _Diablo III: Libro de Caín_. Este libro consta de 148 páginas que tratan definir después de 15 años lo que significa el universo de Diablo. El mundo de juego de Diablo aboga por la fantasía épica más oscura en donde héroes que se alzan en batallas por un bien mayor con grandes dosis de esperanza, se complementan con una ambientación centrada en peligrosos viajes amenazados constantemente por las presencias malignas del inframundo, personalizadas con la figura de Diablo. Entre tanta maldad y oscuridad aparecerá un mentor, una figura sabia con conocimientos arcanos, legendarios y míticos sobre eras pretéritas del mundo. Este ministerio recae sobre __Deckard Caín__, el único sobreviviente de la dinastía __Horadrim__, dinastía que desenvolvió un papel crucial en la derrota de los Males Superiores durante la gran guerra del mundo mortal de Santuario. Para __Chris Metzen__, el personaje de Caín es el punto de fuga del mundo virtual que permitirá conectarse con el mundo real a través de legado personificado en un diario denominado Libro de Caín. Dicho volumen, narrado en primera persona, puede leerse como una fuente repleta de conocimientos, escritos a puño y letra por el propio __Deckard Caín__ que arrojaran luz sobre distintos aspectos que atañen a la propia ambientación del juego, desde historia antigua, pasando por información privilegiada de los diferentes demonios y arcángeles, hasta le descripción de escenarios. Este complemento de _mercadeo literario_ lo considero bastante acertado. Intentando abandonar mi condición de fanático, juzgo que el universo de Diablo manifiesta una tendencia de deconstrucción, término utilizado por el filósofo francés __Jacques Derrida__, en donde todo concepto es construido a partir de procesos históricos y acumulaciones metafóricas que expresan la verdad como un discurso de la figuras retóricas

              ## Conclusión

              El análisis narrativo al cual fue sujeto Diablo III fue superado de manera satisfactoria. Se demostró que la narrativa del juego se ha ido construyendo bajo las bases de las lógicas aristotélicas para el drama y el teatro. Además, los elementos de personajes y trama fueron desplegados a cabalidad con las guías suministradas por los arquetipos de Vogler y el arco narrativo de Freytag. El proceso narrativo de Diablo ha sido tan propicio que la trilogía literaria bajo el genero de novela, fue acogida de manera placentera por los fanáticos de la saga. Finalmente, la propuesta del Libro de Caín es el resultado de un drama provechoso que busca conectar todo un universo. Esta proceso puede asemejarse a la obra literaria del famoso escritor __J.R.R Tolkien__, demostrando que la relación videojuegos-literatura posee un vínculo que con el transcurso del tiempo se ha ido fortaleciendo.

              * * *
          / !Narrative Diablo III
    %footer
      = Haml::Engine.new(File.read('app/haml/partials/_scripts.haml')).render
