!!! XML
!!!
/ Sofhouse
%html
  %head
    %title Sergio L. Benítez D. - Sofhouse
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Un diseñador y desarrollador de interfaces y experiencias de usuario desde la capital de Colombia", :name => "description"}
    %meta{:content => "Sergio L. Benítez D.", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = Haml::Engine.new(File.read('app/haml/partials/_stylesheets.haml')).render
  %body
    = Haml::Engine.new(File.read('app/haml/partials/_header.haml')).render

    = Haml::Engine.new(File.read('app/haml/partials/_btn_backshow.haml')).render

    %div#main.sc-identity.main.pt-page
      .article.pt-element.pt-element--scalefromup
        .post
          .post-content
            :markdown

              # Identidad corporativa
              #### Junio, 2014

              El mundo del mercadeo actual es tan complejo y evolucionado que para sobrevivir es recomendable acudir a una serie de métodos con el fin de lograr posicionarse en el entorno comercial. Lastimosamente gran parte del ámbito empresarial subestima los beneficios de aplicar dichos métodos y terminan pasando por alto los numerables beneficios que un proceso de _Construcción de la marca_ puede ofrecer.

              > El concepto de __marca__ consiste en ese rasgo, huella o grafismo que se asume como signo singular que distingue a una cosa de otra.

              Personalmente considero que una empresa debe ofrecer más que productos y servicios. Su compromiso no se limita al cliente, y frecuentemente olvida la responsabilidad de incentivar a su personal interno. El objetivo principal es perdurar en la mente del público y lograr que sea considerada como una opción; para conseguir estos propósitos es imprescindible trabajar en __imagen__ e __identidad corporativa__.

              > Básicamente la __imagen corporativa__ es la impresión que se desea generar en el público. Por tanto la construcción de este proceso va mas allá del diseño gráfico y es aconsejable utilizar diferentes conocimientos para poder elaborar herramientas de lenguaje que permitan implantar la imagen en la mente del consumidor.

              La imagen corporativa proviene de una serie de estudios y reflexiones de carácter psicosocial-mercadotécnico y debe ser influenciado por los propósitos y la filosofía sobre la que se desenvuelve una empresa. Luego de que todos los aspectos de la imagen corporativa estén coherentes e inteligentemente establecidos se procede al diseño de los __elementos visuales__ que son definidos por la imagen corporativa y se consolidan en la __identidad corporativa__, comenzado por un identificador y continuando con cualquier pieza que vaya a ser parte de la estrategia o campaña que se planea a ejecutar.
              > La __identidad corporativa__ es prácticamente la manifestación física de la marca y por ende incluye las normas gráficas y las guías técnicas que son registradas en el _manual corporativo_.

              Por otra parte, el identificador suele ser el consolidado pero mal referenciado "logo". Este término de diseño que ya es aceptado de forma errónea, abarca diferentes conceptos. El primer concepto es el __"logotipo"__ que etimológicamente hace referencia a distintivos formados por letras. Algunos ejemplos son los identificadores de Google y Sony.
              El segundo concepto es el __"símbolo"__ o __"isotipo"__ el cuál comprende la parte más reconocible del diseño de una marca y se clasifica en Monograma, Anagrama, Sigla, Inicial, Firma y Pictograma.

              Para ilustrar la importancia de los procesos de identidad e imagen corporativa los invito a observar el siguiente capítulo de la serie documental _Casos de éxito de diseño gráfico y comunicación visual en MIPYMES colombianas. Hacia el éxito por el camino de diseño._ Un proyecto administrado por el Ministerio de Comercio Industria y Turismo de Colombia que pretende contribuir a desarrollar el sector de diseño bajo el objetivo de elevar los niveles de diferenciación y calidad del producto colombiano para acceder al mercado internacional.

              El capítulo sugerido corresponde a la empresa Bogotá Beer Company del cuál soy frecuente consumidor y manifiesto admiración por el llamativo e inspirador trabajo gráfico que se realiza teniendo como marco de referencia a mi ciudad natal.

              <iframe src="https://www.youtube.com/embed/HdwhntWOYuY"></iframe>

              * * *

              ## Software House Ltda. (Sofhouse)

              Con esta extensa introducción aprovecho para compartir el manual de identidad corporativa que realice en la empresa _Software House Ltda._ Una casa de desarrollo de software que ofrece sus servicios a diferentes entidades públicas del gobierno colombiano. Espero sea de su agrado:

              <iframe src="/assets/pdf/mivc_sofhouse.pdf"></iframe>

              * * *
        /!Sofhouse

    %footer
      = Haml::Engine.new(File.read('app/haml/partials/_scripts.haml')).render
