!!! XML
!!!
/ Tácito
%html
  %head
    %title Sergio L. Benítez D. - Tácito
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Un diseñador y desarrollador de interfaces y experiencias de usuario desde la capital de Colombia", :name => "description"}
    %meta{:content => "Sergio L. Benítez D.", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = Haml::Engine.new(File.read('app/haml/partials/_stylesheets.haml')).render
  %body
    = Haml::Engine.new(File.read('app/haml/partials/_header.haml')).render

    = Haml::Engine.new(File.read('app/haml/partials/_btn_backshow.haml')).render

    %div#main.sc-furniture.main.pt-page
      .article.pt-element.pt-element--scalefromup
        .post
          .post-content
            :markdown

              # Mobiliario
              #### Junio, 2011
              ##### Sergio L. Benítez D., Miranda Garrido, Mariana Hoyos y Juan Sebastián Sánchez

              El proyecto elaborado por el grupo __tácito__ se genera luego de realizar una etnografía de aproximadamente 2 meses sobre una licorera llamada _Capricornio 26_ situada en una zona popular de Bogotá, con el objetivo de identificar oportunidades de diseño y ofrecer resultados de la manera más objetiva posible.

              <figure>
              ![Tácito Light](../../../assets/images/jpg/tacito_01.jpg)
              <figcaption> Img 1 - Iluminación del establecimiento </figcaption>
              </figure>

              La tienda fue fundada en 1980 bajo el nombre Capricornio 26 (aunque más tarde por error perdió el seis). Dicho nombre se atribuye al signo zodiacal de la mayor parte de la familia. El local hace parte de una casa que ha sido siempre una tienda. Allí se venden productos de la canasta familiar y licores como cerveza, ron y aguardiente; también cuenta con juegos como rana y bolirana que entre los clientes siempre han sido populares. Cuenta con una rocola que define el ambiente de la tienda. La mayoría del mobiliario y decoración son patrocinados por marcas de cerveza.

              ## Los dueños

              Don Carlos es dueño de una edificio de tres pisos, el primer piso se conforma por cinco locales comerciales entre los cuales se encuentra Capricornio 26; Los otros pisos son arrendados. La casa de Don Carlos y Doña Rosa, su esposa, está ubicada detrás de la tienda donde viven con su perra Sacha. Debido a todos éstos negocios externos, Doña Rosa ha mostrado un gran interés en cerrar la tienda ya que para ella es agotador ocuparse de esta todas las noches mientras Don Carlos se divierte y descansa.

              Tienen siete hijos, de los cuales uno vive en Australia y otro en España, y catorce nietos quienes les ayudan principalmente en la tienda. Ellos dos son los únicos que atienden en la tienda permanentemente ya que son los únicos capaces de administrar el negocio y consideran complicado contratar una persona externa a la familia.

              > "Me basta con una cerveza para conocer a una persona. Mi tienda me ha brindado la oportunidad de ofrecer muchas y de escuchar relatos que sólo se cuentan con una cerveza en la mano. Estas historias son una ventana hacia el interior de una posible nueva amistad, amistad que de ser duradera tendrá siempre mi aprecio, compañía y disposición en este lugar…", Don Carlos

              ## Los clientes

              > _Las siguientes redacciones son descripciones realizadas con  la jerga utilizada por Don Carlos para comunicarse con sus clientes._

              Álvaro Hernán Salamanca Franco, es un cliente que viene con toda la gente de calzado Joy. Pocas veces se arrima solo. Al man le trama harto el fútbol y suele venir para apoyar al América cuando se le transmiten los partidos. Por ahí se la pasa presumiendo de que sus apellidos son europeos, y que cuando joven el man era todo un galán con las mujeres. Todavía lo es; le gusta coquetear con todas las jovencitas que entran a la tienda. Hasta donde yo sé, tiene dos hijos con la misma mujer, Camilo y Valeria, pero no vive con ellos, ya que vive en un cuarto en la Aurora. Eso es como en la vía al llano. Ellos viven separados porque él le fue varias veces infiel a la mujer, pero no aguantó que ella le fuera infiel solo una vez. El man se la pasa jugando micro, banquitas y fútbol grande con el equipo de la empresa y dicen que juega hasta bien. Con el Jaime son muy buenos amigos. Cuando puede se viene en una moto arrocera que tiene, pero últimamente dice que quiere venderla porque con una plata que tiene ahorrada, más lo que gane de la venta de la moto, pude hacerse de una mejor.“

              > "Tómese un traguito conmigo. -No gracias-. Bueno, entonces que por lo menos mi copa toque sus labios", El Álvaro.

              Jaime Torres, también trabaja en calzado Joy, pero es un man de mayor edad que Álvaro. Tiene una hija diseñadora de la cual está muy orgulloso, y tiene un hijo menor, pero al parecer el joven anda en malos pasos y pertenece a una pandilla de Patio Bonito. Por eso decidió irse a vivir a Suba, ya que dice que los malos pasos de su hijo eran por la gente con la que andaba en Patio Bonito, unos tales “Pocholos”. Si no estoy mal creo que ha tenido varias mujeres y está viviendo con la tercera, y se la pasa diciendo que la mujer lo encarto con un niño que no es de él. Por ahí me ha contado que trabaja a veces de celador en un edificio llamado la Soledad, cerca de la Universidad Nacional. El Jaime es un tipo serio, pero cuando empieza tomar, se vuelve cansón con los demás hombres, pues se pone hablar más de lo que debería.“

              > "Usted no sabe lo difícil que es ver cómo un hijo se mete a donde no es y no poder hacer nada", Jaime

              <figure>
              ![Tácito Light](../../../assets/images/jpg/tacito_03.jpg)
              <figcaption> Img 2 - Baldozas deefinidas </figcaption>
              </figure>

              * * *

              ## Problemas

              - Las cuentas no son bien llevadas
              - El espacio no está bien distribuido por las mesas de panadería
              - El baño de mujeres está dentro de la casa, es incómodo, no es amigable ni atractivo. Es una violación al espacio privado
              - Si el lugar se llena no hay espacio para jugar rana
              - Hay un exceso de vitrinas

              ## Oportunidades
              - Eliminar vitrinas innecesarias
              - Cambiar el estilo de mesas
              - Definir mejor los espacios
              - Reubicación de recursos (gadgets)

              ## Insights

              - Las personas que se sientan en la mesa de panadería tienen su “burbuja privada” en el lugar
              - Nadie se atreve a sacar las sillas del lugar
              - El escalón marca la división de espacios
              - Quién elige la canción adquiere momentaneamente importancia ya que es él o ella quién impone el ambiente en el lugar
              - Don Carlos tiene un gran interés por mantener los elementos originales y característicos de la tienda
              - El hecho de que vendan botellas con cerveza causa que los productos tengan que ser consumidos en el lugar
              - Don Carlos socializa y pone orden mientras doña Rosa/Carmen vigila y lleva las cuentas detrás del mostrador

              ## Necesidades

              - Un baño de mujeres cómodo
              - Espacio para la rana.
              - Posibilidad de integrar las mesas

              ## Imperativos

              - Objetos tradicionales no pueden ser eliminados
              - No puede haber tragos diferentes a cerveza, aguardiente o ron
              - Por cultura colombiana el lugar no puede ser “alternativo” (LGBT)
              - Las dimensiones del espacio no se pueden cambiar
              - El local no puede cambiar de ubicación porque es donde vive Don Carlos
              - No se pueden contratar empleados
              - Elementos indispensables: Rana, Bolirana, Rocola, Televisior y baño de hombres


              <figure>
              ![Tácito Light](../../../assets/images/jpg/tacito_02.jpg)
              <figcaption> Img 3 - La mesa quebrada </figcaption>
              </figure>

              * * *

              ## Conclusión

              La tienda está compuesta por elementos muy interesantes que fueron surgiendo en diferentes momentos, respondiendo a necesidades específicas, y se han mantenido a través del tiempo creando un ambiente tradicional. Los ingredientes que detallan la tienda son principalmente masculinos, además son los que determinan su identidad y la de sus usuarios así como su experiencia en ella. No buscamos que llegue más gente, ni cambiarla, sólo intervenir la experiencia de los usuarios ya existentes potenciando los componentes que la definen para hacerla memorable y exitosa.

              El objetivo de la tienda no es ganar dinero sino pasar un buen tiempo con los viejos amigos hablando de temas actuales y contando anécdotas mientras se toma una cerveza. Dependiendo de la intención e interés de cada persona, se puede disfrutar la tienda sólo, con un grupo o se puede generar una interacción con las demás personas que estén allí.

              * * *
          / !Tácito
    %footer
      = Haml::Engine.new(File.read('app/haml/partials/_scripts.haml')).render
