$gutter-width: 1.5%

@media only screen and (max-width: 400px)
  html
    font-size: $font-size-base-sm

  .back-button-container
    left: 82vw

  .back-button-anchor
    font-size: 12pt

  .section-container
    border-width: 0 10px

  .post-content
    h1
      font-size: $h1-font-size
      line-height: $h1-line-height

    h2
      font-size: $h2-font-size
      line-height: $h2-line-height

    h3
      font-size: $h3-font-size
      line-height: $h3-line-height

    h4
      font-size: $h4-font-size
      line-height: $h4-line-height

    h5
      font-size: 12px
      line-height: 17px

    p
      font-size: $paragraph-font-size
      line-height: $paragraph-line-height
      text-align: left
      margin: 16px 0

    ul
      margin: 16px

      li
        font-size: $paragraph-font-size
        line-height: $paragraph-line-height
        word-wrap: break-word

    figure
      figcaption
        font-size: $blockquote-font-size
        line-height: $blockquote-line-height

    blockquote
      border-left: 5px solid #B3B3B3
      margin: 1em 8px

      p
        font-size: $blockquote-font-size
        line-height: $blockquote-line-height

  .wrapper
    white-space: normal

  .row
    margin: 0

    & + &
      margin-top: 0

    .col-6
      width: 97%
      margin: 0 $gutter-width

    .col-4
      width: 97%
      margin: 0 $gutter-width
