@media only screen and (min-width: 1281px)
  .showcase-item
    height: 28vh

  .slide-effect
    .showcase-item-mask
      transform: translateX(-30vw)

    &:hover .showcase-item-icon
      transform: translateX(30vw)
