%header
  %nav.top-nav.pt-wrapper
    %a.symbol{:href => "/public/index.html", "data-icon" => "s"}
    %div.links.txt-right
      %a{:href => "/public/html/showcase.html"} Vitrina
    %div.links.txt-left
      %a{:href => "/public/html/about.html"}Hola!
  /%img.print{:alt => "isotype", :src => "localhost:4000/public/assets/images/png/print_header.png"}
  %img.print{:alt => "isotype", :src => "http://www.suabochica.com/public/assets/images/png/print_header.png"}
