%header
  %nav.top-nav.pt-wrapper
    %a.symbol{:href => "/index.html", "data-icon" => "s"}
    %div.links.txt-right
      %a{:href => "/html/showcase.html"} Vitrina
    %div.links.txt-left
      %a{:href => "/html/about.html"}¡Hola!
  /%img.print{:alt => "isotype", :src => "localhost:4000/assets/images/png/print_header.png"}
  %img.print{:alt => "isotype", :src => "https://www.suabochica.com/assets/images/png/print_header.png"}
