%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}

/ Development
%script{:src => "/js/backgrounds.js"}
%script{:src => "/js/transitions.js"}
%script{:src => "/js/smooth_state.js"}
%script{:src => "/js/google_analytics.js"}

/ Build
/%script{:src => "/js/sib_scripts.min.js"}
