%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}

/ Development
/%script{:src => "/public/js/backgrounds.js"}
/%script{:src => "/public/js/transitions.js"}
/%script{:src => "/public/js/smooth_state.js"}
/%script{:src => "/public/js/google_analytics.js"}

/ Build
%script{:src => "/public/js/sib_scripts.min.js"}
