---
import Section from "@/components/Section.astro";

import { getI18N } from "@/i18n";
import { useTranslations, getLangFromUrl } from "i18n/utils";

const language = getLangFromUrl(Astro.url);
const translate = useTranslations(language);

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { skills } = i18n;
---

<Section title={translate(".skills")}>
  <ul>
    {
      skills.map(({ name }) => (
        <li>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flext-wrap: wrap;
  }

  li {
    border-radius: 6px;
    background: #d5c4a1;
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
</style>
