!!!
%html{:lang => "es"}
  %head
    %title Sergio L. Benítez D. - Home
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Un diseñador y desarrollador de interfaces y experiencias de usuario desde la capital de Colombia", :name => "description"}
    %meta{:content => "Sergio L. Benítez D.", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = Haml::Engine.new(File.read('app/haml/partials/_stylesheets.haml')).render

  %body.background-image
    = Haml::Engine.new(File.read('app/haml/partials/_header.haml')).render
    %div#main.main-container.pt-page
      %div#sc-home.section-home.pt-element.pt-element--infromdown
        %p.section-home-phrase Exponiendo pensamientos a 2.600 metros de altura
        %p.section-home-introduce Hola, soy Sergio Benítez, un desarrollador y diseñador que actualmente trabaja y vive en Bogotá.
        %div.section-home-media
          %div.section-home-media-button
            %a{:href => "https://github.com/suabochica", "data-icon" => "b",:target => "_blank", "aria-label" => "Github Profile"}
          %div.section-home-media-button
            %a{:href => "https://co.linkedin.com/in/slbenitezd", "data-icon" => "h",:target => "_blank", "aria-label" => "LinkedIn Profile"}
          %div.section-home-media-button
            %a{:href => "https://instagram.com/suabochica", "data-icon" => "a",:target => "_blank", "aria-label" => "Instagram Profile"}

      %div.section-home--flex.pt-element.pt-element--infromdown
        %div.section-work.pt-element.pt-element--infromdown
          %h2.work-label Trabajo actual
          %p.work-enterprise
            %a{:href => "https://www.prodigious.com/",:target => "_blank", "aria-label" => "Prodigious Web Page"} Prodigious
          %p.work-position Senior Front-End

          %h2.work-label Trabajos previos
          %p.work-enterprise
            %a{:href => "http://www.laspartes.com.co/catalogo/inicio",:target => "_blank", "aria-label" => "LasPartes Web Page"} LasPartes
          %p.work-position Senior Front-End and UI Designer
          %p.work-enterprise
            %a{:href => "https://www.sofhouse.net/?page_id=11",:target => "_blank", "aria-label" => "Software House Web Page"} Software House
          %p.work-position Full-Stack Developer and UI Designer

        %div.section-blog.pt-element.pt-element--infromdown
          %h2.blog-label Últimas publicaciones
          %p.blog-title
            %a{:href => "html/showcase/2019-01-25-http-2.html", "aria-label" => "HTTP/2"} HTTP/2
          %p.blog-date 27 de Diciembre, 2018
          %p.blog-title
            %a{:href => "html/showcase/2019-01-16-https.html", "aria-label" => "HTTPS"} HTTPS
          %p.blog-date 16 de Enero, 2019
          %p.blog-title
            %a{:href => "html/showcase/2018-12-27-http-1.html", "aria-label" => "HTTP/1"} HTTP/1
          %p.blog-date 27 de Diciembre, 2018
          %p.blog-title
            %a{:href => "html/showcase/2018-12-19-request-response-cycle.html", "aria-label" => "Request/Response Cycle"} El Ciclo Solicitud/Respuesta
          %p.blog-date 19 de Diciembre, 2018
          %p.blog-title
            %a{:href => "html/showcase/2018-12-12-client-server-communication.html", "aria-label" => "Client Server Communication"} Comunicacíon Cliente-Servidor
          %p.blog-date 12 de Diciembre, 2018
          %p.blog-title
            %a{:href => "html/showcase/2018-11-13-bem.html", "aria-label" => "BEM Post"} BEM
          %p.blog-date 13 de Noviembre, 2018
          %p.blog-title
            %a{:href => "html/showcase/2018-11-01-bash-caracteristicas.html", "aria-label" => "Bash Features Post"} Características de Bash
          %p.blog-date 01 de Noviembre, 2018
          %p.blog-title
            %a{:href => "html/showcase/2018-10-03-bash-comandos-avanzados.html", "aria-label" => "Bash Advanced Commands Post"} Bash, Comandos Avanzados
          %p.blog-date 03 de Octubre, 2018
          %p.blog-title
            %a{:href => "html/showcase/2018-09-10-bash-comandos-basicos.html", "aria-label" => "Bash Basic Commands Post"} Bash, Comandos Básicos
          %p.blog-date 10 de Septiembre, 2018
          %p.blog-title
            %a{:href => "html/showcase/2018-08-24-bash.html", "aria-label" => "Bash Intro Post"} Bash
          %p.blog-date 24 de Agosto, 2018

          %h2.events-label Eventos
          %p.events-title
            %a{:href => "https://evidencesynthesishackathon.com/alumni/",:target => "_blank", "aria-label" => "Evidence Synthesis Summary"} Evidence Synthesis Hackathon
          %p.events-date Abril, 2018

    %footer
      = Haml::Engine.new(File.read('app/haml/partials/_scripts.haml')).render
