!!!
%html
  %head
    %title Sergio L. Benítez D. - Home
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Un diseñador y desarrollador de interfaces y experiencias de usuario desde la capital de Colombia", :name => "description"}
    %meta{:content => "Sergio L. Benítez D.", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = Haml::Engine.new(File.read('app/haml/partials/_stylesheets.haml')).render

  %body.background-image
    = Haml::Engine.new(File.read('app/haml/partials/_header.haml')).render
    %div#main.main-container.pt-page
      %div#sc-home.section-home.pt-element.pt-element--infromdown
        %p.section-home-phrase - Exponiendo pensamientos a 2.600 mts de altura -
        %p.section-home-introduce Hola, soy Sergio Benítez, un desarrollador y diseñador que actualmente trabaja y vive en Bogotá.
        %div.section-home-media
          %div.section-home-media-button
            %a{:href => "https://github.com/suabochica", "data-icon" => "b",:target => "_blank"}
          %div.section-home-media-button
            %a{:href => "https://co.linkedin.com/in/slbenitezd", "data-icon" => "h",:target => "_blank"}
          %div.section-home-media-button
            %a{:href => "https://instagram.com/suabochica", "data-icon" => "a",:target => "_blank"}
      %div.section-home--flex.pt-element.pt-element--infromdown
        %div.section-work.pt-element.pt-element--infromdown
          %h2.work-label Trabajo
          %p.work-enterprise Prodigious
          %p.work-position Senior Front-End
          %h2.work-label Trabajos previos
          %p.work-enterprise LasPartes
          %p.work-position Senior Front-End and UI Designer
          %p.work-enterprise Software House
          %p.work-position Ful-Stack Developer and UI Designer
        %div.section-blog.pt-element.pt-element--infromdown
          %h2.blog-label Publicaciones
          %p.blog-title Colombia 4.0
          %p.blog-date Septiembre, 2017
          %p.blog-title Kokolock
          %p.blog-date Enero, 2017

    %footer
      = Haml::Engine.new(File.read('app/haml/partials/_scripts.haml')).render
