!!! XML
!!!
/ Showcase
%html
  %head
    %title Sergio L. Benítez D. - Showcase
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Un diseñador y desarrollador de interfaces y experiencias de usuario desde la capital de Colombia", :name => "description"}
    %meta{:content => "Sergio L. Benítez D.", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = Haml::Engine.new(File.read('app/haml/partials/_stylesheets.haml')).render
  %body
    = Haml::Engine.new(File.read('app/haml/partials/_header.haml')).render

    %section.back-button-container
      %a#btn-back.back-button-anchor{:href => "/index.html", "data-icon" => "i"}

    %section#main#section-showcase.main-container.pt-page
      %div.showcase-container.pt-element.pt-element--infromright

        %div.row
          %div#box-bash.col-4.showcase-item-web.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "f"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Bash, Comandos Avanzados
              %p.showcase-item-mask-date Octubre, 2018
              %a.showcase-item-mask-link{:href => "/html/showcase/2018-10-bash-comandos-avanzados.html"} Bash
          %div#box-bash.col-4.showcase-item-web.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "f"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Bash, Comandos Básicos
              %p.showcase-item-mask-date Septiembre, 2018
              %a.showcase-item-mask-link{:href => "/html/showcase/2018-09-bash-comandos-basicos.html"} Bash
          %div#box-bash.col-4.showcase-item-web.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "f"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Bash
              %p.showcase-item-mask-date Octubre, 2018
              %a.showcase-item-mask-link{:href => "/html/showcase/2018-08-bash.html"} Bash

        %div.row
          %div#box-ivcolombia.col-4.showcase-item-events.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "m"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Evento
              %p.showcase-item-mask-date Septiembre, 2017
              %a.showcase-item-mask-link{:href => "/html/showcase/2017-09-colombia-4-0.html"} Colombia 4.0
          %div#box-kokolock.col-4.showcase-item-general.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "k"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Emprendiendo
              %p.showcase-item-mask-date Enero, 2017
              %a.showcase-item-mask-link{:href => "/html/showcase/2017-01-kokolock.html"} Kokolock
          %div#box-setubuntu.col-4.showcase-item-web.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "f"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Guía de Configuración
              %p.showcase-item-mask-date Junio, 2016
              %a.showcase-item-mask-link{:href => "/html/showcase/2016-06-configuracion-ubuntu-14-04.html"} Ubuntu 14.04 LTS

        %div.row
          %div#box-sudamericaco.col-4.showcase-item-backpack.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "q"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Mochilero
              %p.showcase-item-mask-date Marzo, 2016
              %a.showcase-item-mask-link{:href => "/html/showcase/2016-03-sudamerica-colombia.html"} Sudamérica Colombia
          %div#box-mastery.col-4.showcase-item-general.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "k"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title General
              %p.showcase-item-mask-date Octubre, 2015
              %a.showcase-item-mask-link{:href => "/html/showcase/2015-10-maestria-en-canada.html"} Maestría en Canada
          %div#box-ivcolombia.col-4.showcase-item-events.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "m"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Evento
              %p.showcase-item-mask-date Septiembre, 2015
              %a.showcase-item-mask-link{:href => "/html/showcase/2015-09-colombia-3-0.html"} Colombia 3.0

        %div.row
          %div#box-sofhouse.col-4.showcase-item-identity.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "v"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Identidad Corporativa
              %p.showcase-item-mask-date Junio, 2014
              %a.showcase-item-mask-link{:href => "/html/showcase/2014-06-software-house.html"} Sofhouse
          %div#box-licamba.col-4.showcase-item-web.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "g"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Páginas Web
              %p.showcase-item-mask-date Julio, 2014
              %a.showcase-item-mask-link{:href => "/html/showcase/2014-07-licamba.html"} Licamba
          %div#box-phi.col-4.showcase-item-editorial.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "r"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Editorial y Diagramación
              %p.showcase-item-mask-date Septiembre, 2013
              %a.showcase-item-mask-link{:href => "/html/showcase/2013-09-cuadrante-phi.html"} CuadrantePhi

        %div.row
          %div#box-types.col-4.showcase-item-types.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "j"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Tipos Móviles
              %p.showcase-item-mask-date Marzo, 2013
              %a.showcase-item-mask-link{:href => "/html/showcase/2013-03-tipos-moviles.html"} Galera
          %div#box-indirectrl.col-4.showcase-item-games.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "l"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Videojuegos
              %p.showcase-item-mask-date Enero, 2013
              %a.showcase-item-mask-link{:href => "/html/showcase/2013-01-control-indirecto-en-lemmings.html"} Cotrol Indirecto
          %div#box-narrdiablo.col-4.showcase-item-games.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "l"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Videojuegos
              %p.showcase-item-mask-date Septiembre, 2012
              %a.showcase-item-mask-link{:href => "/html/showcase/2012-09-narrativa-en-diablo.html"} Narrativa

        %div.row
          %div#box-funtlz.col-4.showcase-item-games.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "l"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Videojuegos
              %p.showcase-item-mask-date Agosto, 2012
              %a.showcase-item-mask-link{:href => "/html/showcase/2012-08-factor-diversion-en-tlz.html"} Factor diversión
          %div#box-tacito.col-4.showcase-item-furniture.showcase-item.slide-effect
            %div.showcase-item-icon{"data-icon" => "p"}
            %div.showcase-item-mask
              %h2.showcase-item-mask-title Mobilario
              %p.showcase-item-mask-date Junio, 2011
              %a.showcase-item-mask-link{:href => "/html/showcase/2011-06-tacito.html"} Tácito

  = Haml::Engine.new(File.read('app/haml/partials/_scripts.haml')).render
