!!! XML
!!!
/ Showcase
%html
  %head
    %title Sergio L. Benítez D. - Showcase
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Un diseñador y desarrollador de interfaces y experiencias de usuario desde la capital de Colombia", :name => "description"}
    %meta{:content => "Sergio L. Benítez D.", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = Haml::Engine.new(File.read('app/haml/partials/_stylesheets.haml')).render
  %body
    = Haml::Engine.new(File.read('app/haml/partials/_header.haml')).render

    %div.wpr-back
      %a#btn-back.btn-back{:href => "/public/index.html", "data-icon" => "i"}

    %div#main#sc-showcase.main.pt-page
      %div.wpr-showcase.pt-element.pt-element--infromright
        
        %div.row
          %div#box-setubuntu.col-4.box-web.box.slide-effect
            %div.icon{"data-icon" => "g"}
            %div.mask
              %h2 Guía de Configuración
              %p Junio, 2016
              %a.info{:href => "/public/html/showcase/setubuntu.html"} Ubuntu 14.04 LTS
          %div#box-sudamericaco.col-4.box-backpack.box.slide-effect
            %div.icon{"data-icon" => "q"}
            %div.mask
              %h2 Mochilero
              %p Marzo, 2016
              %a.info{:href => "/public/html/showcase/sudamericaco.html"} Sudamérica Colombia
          %div#box-mastery.col-4.box-general.box.slide-effect
            %div.icon{"data-icon" => "k"}
            %div.mask
              %h2 General
              %p Octubre, 2015
              %a.info{:href => "/public/html/showcase/mastery.html"} Maestría en Canadá
        
        %div.row
          %div#box-ivcolombia.col-4.box-events.box.slide-effect
            %div.icon{"data-icon" => "m"}
            %div.mask
              %h2 Evento
              %p Septiembre, 2015
              %a.info{:href => "/public/html/showcase/ivcolombia.html"} Colombia 3.0
          %div#box-sofhouse.col-4.box-identity.box.slide-effect
            %div.icon{"data-icon" => "v"}
            %div.mask
              %h2 Identidad Corporativa
              %p Junio, 2014
              %a.info{:href => "/public/html/showcase/sofhouse.html"} Sofhouse
          %div#box-licamba.col-4.box-web.box.slide-effect
            %div.icon{"data-icon" => "g"}
            %div.mask
              %h2 Páginas Web
              %p Julio, 2014
              %a.info{:href => "/public/html/showcase/licamba.html"} Licamba
        
        %div.row
          %div#box-phi.col-4.box-editorial.box.slide-effect
            %div.icon{"data-icon" => "r"}
            %div.mask
              %h2 Editorial y Diagramación
              %p Septiembre, 2013
              %a.info{:href => "/public/html/showcase/phi.html"} CuadrantePhi        
          %div#box-types.col-4.box-types.box.slide-effect
            %div.icon{"data-icon" => "j"}
            %div.mask
              %h2 Tipos Móviles
              %p Marzo, 2013
              %a.info{:href => "/public/html/showcase/types.html"} Galera
          %div#box-indirectrl.col-4.box-games.box.slide-effect
            %div.icon{"data-icon" => "l"}
            %div.mask
              %h2 Videojuegos
              %p Noviembre, 2012
              %a.info{:href => "/public/html/showcase/indirectrl.html"} Cotrol Indirecto
        
        %div.row
          %div#box-narrdiablo.col-4.box-games.box.slide-effect
            %div.icon{"data-icon" => "l"}
            %div.mask
              %h2 Videojuegos
              %p Septiembre, 2012
              %a.info{:href => "/public/html/showcase/narrdiablo.html"} Narrativa          
          %div#box-funtlz.col-4.box-games.box.slide-effect
            %div.icon{"data-icon" => "l"}
            %div.mask
              %h2 Videojuegos
              %p Agosto, 2012
              %a.info{:href => "/public/html/showcase/funtlz.html"} Factor diversión
          %div#box-tacito.col-4.box-furniture.box.slide-effect
            %div.icon{"data-icon" => "p"}
            %div.mask
              %h2 Mobilario
              %p Junio, 2011
              %a.info{:href => "/public/html/showcase/tacito.html"} Tácito

  = Haml::Engine.new(File.read('app/haml/partials/_scripts.haml')).render
