html
  font-size: 16px

body
  font: 100% $font-stack

  &.background-image
    background: url("../assets/images/png/me.png") center center no-repeat fixed
    background-size: cover

pre
  background-color: $black
  color: $gray-light
  margin: 0 0 1.625em
  position: relative
  white-space: pre
  word-wrap: normal

  &::before
    cursor: default
    font-size: 1em
    line-height: 1.5
    opacity: 1
    padding-right: .5em
    position: absolute
    right: 0
    top: 0

  code
    display: block
    font-size: 1.5em
    line-height: 2.0em
    overflow-x: scroll
    padding: 0 1em

.css::before
  content: "CSS"

.html::before
  content: "HTML"

.javascript::before
  content: "JavaScript"

.jquery::before
  content: "jQuery"

.php::before
  content: "PHP"

.scss::before
  content: "SCSS"

.sublime-snippet::before
  content: "Sublime Snippet"

.shell::before
  content: "Shell"

footer
  visibility: hidden
