$font-stack: "FrutigerLTStd-Light", Helvetica, sans-serif

$text-color: #555555
$headings-color: #0F0F0F
$black: #0D0D0D
$gray-dark: #272727
$gray-light: #B3B3B3
$white: #F4F4F4

$sib-blue: #3B8BBA
$sib-green: #5EB95E
$sib-orange: #FF6633
$sib-purple: #996699
$sib-red: #DD514C
$sib-yellow: #FFCC33
$sib-teal: #167C80
$sib-springreen: #00FF7F
$sib-mediumorchid: #BA55D3
$sib-crimson: #DC143C

$pantone-yellow: #FFCD00
$pantone-orange: #FF9933