%header.header
  %nav.menu-nav.pt-wrapper
    %a.menu-symbol{:href => "/index.html", "data-icon" => "s"}
    %div.menu-links.txt-right
      %a.menu-links-anchors{:href => "/html/showcase.html"} Vitrina
    %div.menu-links.txt-left
      %a.menu-links-anchors{:href => "/html/about.html"}¡Hola!
  /%img.print{:alt => "isotype", :src => "localhost:4000/assets/images/png/print_header.png"}
  %img.print{:alt => "isotype", :src => "https://www.suabochica.com/assets/images/png/print_header.png"}
