.section-home
  min-weight: 100%
  padding: 30vh 10% 0 10%

.section-home-phrase
  color: $sib-blue
  font: normal normal bold 32px "BrandonGrotesqueBold"
  letter-spacing: 32
  text-align: center
  text-transform: uppercase

.section-home-introduce
  color: $gray-dark
  font: normal normal bold 26px "BrandonGrotesqueBold"
  letter-spacing: 28
  text-align: center
  text-transform: uppercase

.section-home-media
  margin: 0 auto
  max-width: 400px
  text-align: center

.section-home-media-button
  display: inline-block
  font-size: 36px
  height: 36px
  margin: 5px
  position: relative
  width: 36px

  a
    color: $pantone-yellow

    &:hover
      color: $gray-light

    &:visited
      color: $sib-blue

.section-home--flex
  align-items: top
  display: flex
  flex-direction: row
  justify-content: space-around
